[2019-06-17 18:10] christ1ne opened #2 "clarify mixing of precisions in quantization rules"
https://github.com/mlperf/inference_policies/blob/master/inference_rules.adoc#81-weight-definition-and-quantization

we should add: mixing of any white listed precision is allowed. This is missing in the current doc.

[2019-06-17 18:27] tjablin commented on #2
Is this already captured by

- Hand picking different numerical precisions for different operations

In Section 8.2?

[2019-06-17 18:33] christ1ne commented on #2
It is not obvious to me 'Hand picking different numerical precisions for different operations' is for quantization. I just want the rule to be very explicit in terms of quantization process.

[2019-06-17 20:47] tjablin opened #3 "Padding/Transposing/Reshaping in Accuracy Mode"
Some inference systems may produce outputs that are arbitrarily padded, transposed, or reshaped relative to the reference implementation. In real systems, downstream code can frequently be adapted to read inputs in unusual layouts. Should adapters be allowed for connecting the reference accuracy checking code?

[2019-06-17 21:58] cy89 opened #4 "Error margin on accuracy or inaccuracy?"
I commented on an email discussion:

For calibration, what's the current fp_trained_accuracy for the planned set of inference benchmarks?

It seems to me that formulation in terms of the %correct might not be the right way to frame the error margin. The difference between 50% correct and 49% correct is probably negligible, but the difference between 99% and 98% correct is 2x more errors. None of w

[2019-06-17 22:32] TheKanter commented on #2
I'm not sure what you are asking. The rules already state: "...to any combination of permissive whitelist numerical format that achieves the desired quality". That seems to cover a scenario where e.g., one tensor is FP11 and another is INT8.

Is your question about the quantization process itself and what data types can be used there? I would argue anything (in fact, you could use things outside t

[2019-06-17 22:39] tjablin commented on #2
If we all agree that mixing quantized precisions is allowed (and I think we do), we should just update the rules to make it sufficiently explicit that everyone is satisfied.

[2019-06-17 23:19] christ1ne opened #5 "goal of server scenario"
Is the server scenario for
1) all devices including phones?
2) actual HW which are targeting datacenter servers?

If 1) I suggest we set a few latency targets and don't force everyone to submit to the same latency targets. We also need to clarify in the rules that server scenario is a testing mode, not targeting a real server use case.

If 2) I suggest we set latency targets which represents actua

[2019-06-17 23:24] christ1ne commented on #2
thanks @TheKanter now I see the sentence. Sorry I did not read it closely.

[2019-06-17 23:24] #2 closed

[2019-06-17 23:37] tjablin commented on #5
The server scenario is modelling datacenter workloads. The latency targets are relatively permissive since this is MLPerf Inference 0.5. Ideally, the latencies will drop in the next round. If everyone agrees to drop the latency targets, I think we should do so.

[2019-06-18 15:59] tjablin opened #6 "Long Offline Runs"
For the offline scenario, can a run that is much longer than the minimum number of queries and the time duration be submitted?

[2019-06-21 18:34] wang12tao opened #7 "SSD tensorflow checkpoint inconsistent with the reference model"
SSD 1200 tensorflow checkpoint: https://zenodo.org/record/3247091#.XQ0S4pJKhGE is inconsistent with the reference model: https://github.com/mlperf/inference/blob/master/v0.5/classification_and_detection/python/models/ssd_r34.py#L295

Batchnorm is added after each convolution in additional layers in the checkpoint, for example, ssd1200/additional_layers/conv8/conv8_bn1/beta is found in the checkpoi

[2019-06-21 21:59] wang12tao commented on #7
In the checkpoint's additional_layers, there is no bias for convolutions, but bias=True in the reference code: https://github.com/mlperf/inference/blob/master/v0.5/classification_and_detection/python/models/ssd_r34.py#L295

[2019-06-22 06:35] wang12tao commented on #7
There is bias in the checkpoint's convolution layers of Resnet-34, but there is no bias in the reference code: https://github.com/pytorch/vision/blob/ec203153095ad3d2e79fbf2865d80fe6076618fa/torchvision/models/resnet.py#L23

[2019-06-24 20:59] tjablin opened #8 "ResNet Classes and Probabilities"
ResNet returns a tuple of tensors representing classes and probabilities. Are both necessary?

[2019-06-25 22:17] petermattson commented on #3
Isn't this insignificant from a timing perspective?

[2019-06-25 22:17] tjablin commented on #3
Probably. I just want an official resolution.

[2019-06-25 22:19] petermattson commented on #6
Fundamentally, this is about: what is the expected runtime of an offline inference job?

[2019-06-25 22:19] petermattson commented on #4
Good point, believe it is presently moot.

[2019-06-25 22:31] tjablin commented on #6
Some systems need longer runs to reach peak throughput even with a warmup. Suppose you have an inference server on the Moon. Round trip time to the moon is about 3 seconds. A sixty second offline inference run on a Moon server only have 57 seconds of Moon computation. In general, longer runs should be more indicative of real performance than shorter runs.

[2019-06-25 23:20] christ1ne opened #9 "unofficial MLPerf results"
Motivation: currently MLPerf allows people to use the code and claim performance freely as long as you name it 'unverified'. Link:https://github.com/mlperf/policies/blob/master/TERMS%20OF%20USE.md
However, it might be really hard to verify any inference claims given the ‘black box’ nature of some inference engines.

A strawperson proposal from Intel with ‘unofficial MLPerf results’
- need a PR to

[2019-06-26 01:38] DilipSequeira opened #94 "Add GNMT sentence length distribution to the repository"
For the cloud scenario, batching logic wants to predict the marginal latency cost to currently queued queries of waiting for the next inbound request. For the CV benchmarks this can be calculated from just the Poisson rate parameter, but for GNMT the distribution of sequence lengths is also needed.

[2019-06-26 02:10] DilipSequeira commented on #3
This seems to me to be essentially the same question as input transpose - i.e. we should have a (non-empty) set of possible output adapters: the obvious ones (transposition) and by request.

[2019-06-26 02:58] jveejay commented on #3
At the end of the day, does all this matter for timing? I thought that output accuracy is not being timed similar to whatever transformations done during the early stages?

Typed on a small screen, excuse brevity and typos.
vj.

________________________________
From: Dilip Sequeira <notifications@github.com>
Sent: Tuesday, June 25, 2019 10:10 PM
To: mlperf/inference_policies
Cc: Subscribed
Subject

[2019-06-26 03:14] tjablin commented on #3
If we allow some sort of output adapter, we have to make rules about it. The easiest solution is to require post-processing to be timed.

Per VJ's comment, accuracy mode is untimed. The question is whether an adapter is allowed in accuracy mode that was not present in performance mode.

[2019-06-26 03:24] DilipSequeira commented on #3
I would start with whitelisting:

1. an arbitrary transpose
2. precision conversion

I expect the only case is what format the bounding boxes are delivered by the object detection network, but I'm not sure why we're even asking people to pay for that.

[2019-06-26 03:25] DilipSequeira opened #10 "fp16 preprocessing"
7.1 has fp32 <-> int8 preprocessing conversion as untimed. We would like to add fp16 also.

[2019-06-26 03:26] tjablin commented on #10
SGTM

[2019-06-26 17:05] christ1ne opened #11 "clarify the number of outstanding queries allowed"
duplicating:
https://github.com/mlperf/training_policies/issues/217

[2019-06-26 17:37] christ1ne commented on #3
conclusion: same code must be run for accuracy and performance for v0.5 only. Need to review for segmentation. Need rule update in FAQ @jveejay

[2019-06-26 17:39] christ1ne commented on #4
WG: we agree to set good accuracy targets at per model level for this round. Agree with the point.

[2019-06-26 17:39] #4 closed

[2019-06-26 17:46] christ1ne commented on #5
WG rec we should set realistic latency targets for real datacenter use cases. so it is 2. Result presentation should not have phones next to server HWs, for example.

[2019-06-26 17:46] #5 closed

[2019-06-26 17:52] christ1ne commented on #7
@jveejay to ask tao and xilinx folks to align on the model in the next week.

[2019-06-26 18:01] christ1ne commented on #9
WG:

how SPEC handles this?
TPC: does not allow any publication without review.
@christ1ne @TheKanter to investigate on the SPEC policies and see if the policy is good.

[2019-06-26 18:04] christ1ne commented on #10
change 'May quantize image data from fp32 to int8 and between signed and unsigned' to 'may convert among all the whitelisted data formats' @jveejay

[2019-06-26 18:07] christ1ne commented on #11
WG: we agree with this. @briandersn can you add to your readme?

[2019-06-27 20:07] petermattson opened #12 "Finalize latency targets"
Proposal:
Imaging: 50ms
GNMT: 100ms
We propose these targets stand unless counterproposal on 7/10.

[2019-06-27 20:08] petermattson opened #13 "Finalize quality targets"
Proposal:
99% of FP32 accuracy.
We propose these targets stand unless counterproposal on 7/10.

[2019-07-01 23:22] jveejay commented on #7
@christ1ne I think this is the latest resolution for this issue: https://zenodo.org/record/3262269 -- as in they updated the model and the checkpoint together so they should be aligned.

Can you verify and close?

[2019-07-02 19:05] christ1ne commented on #7
I think the issue can be closed as the latest model is running fine. Please re-open the issue if needed.

[2019-07-02 19:05] #7 closed

[2019-07-08 18:15] Quanticles commented on #13
I believe there was a concern about the 1% target accuracy because it can result in a 100+% error in inaccuracy (not sure of the best term for this).

**Example:**  99.5% => 98.5%, no noticeable change in correct answers, but 200% more incorrect answers.
If we agree that 75% => 74%, then perhaps we can say 1% change for accuracy, and 4% change for inaccuracy is okay.

That results in these two con

[2019-07-09 01:54] guschmue commented on #13
I think ```1% change for accuracy``` is the correct description.

[2019-07-09 16:49] wang12tao commented on #7
I checked the new checkpoint https://zenodo.org/record/3262269, model architecture is still inconsistent with Pytorch reference.

Could SSD tensorflow owner share the SSD-large tensorflow training code with us? Thanks!

[2019-07-09 17:57] jveejay commented on #13
@petermattson said via email to inference submitters (moving here for full context):

[2019-07-09 20:17] jveejay commented on #13
@guschmue and @itayhubara Can you please update the [table](https://github.com/mlperf/inference/tree/master/v0.5/classification_and_detection) with the quantized model accuracy?

[2019-07-09 20:56] jveejay commented on #13
I realized that the table didn't have the quantized models, so just put that into the table.

[2019-07-09 21:10] jveejay commented on #13
The [rules](https://github.com/mlperf/inference_policies/blob/master/inference_rules.adoc#weight-definition-and-quantization) don't clearly state that for quantization we are assuming the same quality target as the fp32 models. We should do a rule fix/clarification as @tjablin recommends.

[2019-07-09 21:24] chiragelec commented on #13
Vijay, et.al:

 Indeed, would be great to see the updated table so everyone is on the same page.
Also clarification is needed on target for quantized models: is it 99% of fp32 reference model or 99% of quantized reference model (and in that case, the gap btw reference fp32 and reference quantized model also needs to be looked at for meaningful numbers).

In general, we think for quantized models s

[2019-07-09 21:45] jveejay commented on #7
Adding ashish to make sure he can help us get in touch with the right folks at Xilinx.

Typed on a small screen, excuse brevity and typos.
vj.

________________________________
From: wang12tao <notifications@github.com>
Sent: Tuesday, July 9, 2019 12:49 PM
To: mlperf/inference_policies
Cc: jveejay; Mention
Subject: Re: [mlperf/inference_policies] SSD tensorflow checkpoint inconsistent with the ref

[2019-07-09 21:56] tjablin commented on #13
99% of the fp32 reference model is the target for all models. There is not a separate quantized and non-quantized division. All implementations have the same accuracy targets.

[2019-07-09 23:37] gardner0 commented on #13
Google has some recent (posted 11 July) data on their own ability to quantize trained FP32 models. Note that even Google is only able to get 98% accuracy on MobileNet V1 (69.568/70.95 = 98% not 99%).

https://medium.com/tensorflow/tensorflow-model-optimization-toolkit-post-training-integer-quantization-b4964a1ea9ba

Most of us attribute God-like powers to Google, so its seems aggressive for MLPerf

[2019-07-09 23:40] tjablin commented on #13
The MobileNet reference model we're using only goes to 69.86%

[2019-07-09 23:47] jveejay commented on #13
Tom, that is the fp32 accuracy I assume?!

Typed on a small screen, excuse brevity and typos.
vj.

________________________________
From: tjablin <notifications@github.com>
Sent: Tuesday, July 9, 2019 7:40 PM
To: mlperf/inference_policies
Cc: jveejay; Comment
Subject: Re: [mlperf/inference_policies] Finalize quality targets (#13)

The MobileNet reference model we're using only goes to 69.86%

—
Yo

[2019-07-09 23:51] tjablin commented on #13
It's FP32. The FP32 accuracies for the image models are all here: https://github.com/mlperf/inference/blob/master/v0.5/classification_and_detection/README.md

[2019-07-09 23:56] jveejay commented on #13
Roger that. Now if we can just nail down the fp32 target quality on the table then that'd be a great step forward.

Typed on a small screen, excuse brevity and typos.
vj.

________________________________
From: tjablin <notifications@github.com>
Sent: Tuesday, July 9, 2019 7:51 PM
To: mlperf/inference_policies
Cc: jveejay; Comment
Subject: Re: [mlperf/inference_policies] Finalize quality targets (

[2019-07-10 18:48] Quanticles opened #16 "Where is the V0.6 Wish List?"

[2019-07-10 18:52] christ1ne opened #17 "update rules doc with latency, quality targets, allowing dropping"
Assigned to @tjablin

[2019-07-10 18:58] tjablin commented on #16
https://docs.google.com/document/d/1y8Yd1-RfmANF2QIg_IYO4ktVNZpfBOLS2xuYj65xS5Y/edit

[2019-07-10 19:05] #16 closed

[2019-07-17 18:13] christ1ne commented on #3
rule updated per WG agreement.

[2019-07-17 18:13] #3 closed

[2019-07-17 18:18] christ1ne commented on #6
WG agrees there is no official cap to the offline mode. Assign to @tjablin

[2019-07-17 18:21] christ1ne commented on #9
We will keep the Terms of Use as it is.

[2019-07-17 18:21] #9 closed

[2019-07-17 18:25] christ1ne commented on #8
WG agreed you can dead code eliminate the probability (softmax), only argmax is needed.
@tjablin  please update in FAQ

[2019-07-17 18:26] christ1ne commented on #10
PR merged.

[2019-07-17 18:26] #10 closed

[2019-07-17 18:28] christ1ne commented on #13
duplicate of #17

[2019-07-17 18:28] #13 closed

[2019-07-17 18:28] christ1ne commented on #12
duplicate of #17

[2019-07-17 18:28] #12 closed

[2019-07-17 18:49] jveejay opened #18 "Weight provenance"
The weight provenance is not recorded for all the benchmarks and this is something that the README files should include. Need to have BM owners do this.

[2019-07-18 23:53] DilipSequeira opened #19 "ReLU in model equivalence"
ReLU6 / ReLU8 is an allowed equivalence. We request this be extended to ReLU N for any N, including FLT_MAX.

[2019-07-19 13:16] jveejay opened #20 "quantitization rules questions"
@guschmue asks, "Say I have a runtime that takes fp16 but internally uses 4 bit – can one submit this in closed?"

"We’d load the weights as fp16 but internally activations and weights would be 4 bit. We’d use calibration using the published list."

[2019-07-19 13:20] jveejay commented on #20
@DilipSequeira says, “if you think you’re skating close to the edge, get it whitelisted.” - so there aren’t surprises come submission day."

[2019-07-19 13:20] jveejay commented on #20
@jveejay "In this scheme, is it to be considered a 4-bit quantization scheme or a fp16 scheme?"

[2019-07-19 13:21] jveejay commented on #20
@guschmue  "Ah, that is why I started to ask.
What we’d load is fp16 so maybe it is fp16 and since 4 bit is only internal mlperf should not care.
But is not black and white so walking over it is good practice."

[2019-07-19 13:21] jveejay commented on #20
@DilipSequeira says,

"It’s hybrid.

Since you can’t start with a prequantized model here, you’ll need to describe your quantization scheme in a way that can be reproduced (I thought we had decided on a different standard, but I see it’s what’s in the rules right now) and so the bit width will be exposed.

And our general guidance has been “if you think you’re skating close to the edge, get it whi

[2019-07-24 15:12] guschmue commented on #20
For some models we need to calibrate. For gnmt (that one is the one we care about for 0.5)
we don't need to re-train or calibrate and take the weights unchanged as fp16.
Internally use 4 bit.  Does this count as fp16 ?

[2019-07-24 15:48] tjablin commented on #20
I think this counts as 4-bit weights.

[2019-07-24 15:51] jveejay opened #22 "Submission auditing rules for LoadGen"
William from Qualcomm asked:

"Will MLperf have submission auditing rule on running the loadgen version command to report the signature of source files used in the current build of the app? Since current loadgen is implemented on python and python does not run on android, we integrated loadgen with our framework and we removed these source files as we don’t use them. Will Mlperf be mandating the l

[2019-07-24 15:55] tjablin commented on #19
I think this is already allowed by the rules, and I think it is reasonable to make it explicit. I think change from one ReLU to another just adds a scaling factor, which ought to be allowed under mathematical equivalence. In particular:

[2019-07-24 15:58] tjablin commented on #17
Should be address in [PR21](https://github.com/mlperf/inference_policies/pull/21PR21). PTAL.

[2019-07-24 16:06] tjablin commented on #8
Addressed in [PR32](https://github.com/mlperf/inference_policies/pull/23). PTAL.

[2019-07-24 16:18] DilipSequeira commented on #20
I don't think we have the right standard for exposing quantization - much though I would be interested to see how everyone else is doing it, what we should really care about is that it's a function of the input model and the calibration set, and generalizes across a wide range of models.

That's less strict than publishing it to the level of detail where it can be reproduced.

[2019-07-24 16:23] DilipSequeira commented on #19
It modifies the scaling factor iff you're using quantization.

[2019-07-24 16:24] tjablin commented on #20
Can you please open a separate issue for discussing the rules around exposing quantization algorithms? I think the rules for exposing quantization algorithms are independent of Guenther's initial question which is:

a) Is the system he describes 16-bit or 4-bit?
b) If it is 4-bit, should we amend the rules to allow 4-bit submissions in closed?

[2019-07-24 16:32] DilipSequeira opened #24 "Wrong quantization rules"
I don't think we have the right standard for exposing quantization - much though I would be interested to see how everyone else is doing it, what we should really care about is that it's a function of the input model and the calibration set, and generalizes across a wide range of models.

That's less strict than publishing it to the level of detail where it can be reproduced.

[2019-07-24 16:34] tjablin commented on #19
Even for floating point,

`
ReLU(X, Activation) =
max(min(Activation, 0), X) =
max(min(Activation / X, 0), 1) * X =
max(min(Activation * Y / X, 0), Y) * X / Y =
ReLU(Y, Activation * Y / X) * X / Y
`

Right?

[2019-07-24 16:39] DilipSequeira commented on #19
Thanks, I see what you meant by "just adds a scaling factor" now.

[2019-07-24 16:53] jveejay opened #25 "Clarify quantization rule description"
The [quantization rules](https://github.com/mlperf/inference_policies/blob/master/inference_rules.adoc#81-weight-definition-and-quantization) need to be explained more clearly:

It is not clear to others (and me) what it means that the description of the method must be much much smaller ...

Hmm... huh?

[2019-07-24 16:56] guschmue commented on #20
I'm with @DilipSequeira and think don't need to be super strict on the precision as long 4 conditions are met:

1. we start with the published weights/model and show what we do to the weights
2. the model is not changed
3. one needs to meet the accuracy target
4. only the calibration dataset is used

The only thing we need to prevent is that people cheat.

[2019-07-24 17:31] briandersn commented on #22
The version_generator.py runs at build time on the host, not at runtime on the device, so it should be able to work even for Android.

I would like to make version_generator.py a requirement since it is a good sanity check that submitters are running with a valid loadgen.

[2019-07-24 18:33] christ1ne commented on #11
@briandersn just a reminder.

[2019-07-24 18:34] christ1ne commented on #18
WG: We just need to ensure the provided int8 models documentation to be updated to close on this.

[2019-07-24 18:36] christ1ne commented on #19
WG suggest rule change: ReluM versus ReluN

[2019-07-24 18:47] christ1ne commented on #20
Christine will email submitters' list to announce there is a 4-bit related discussion next week.

[2019-07-24 19:01] christ1ne commented on #22
WG: need to clarify in the submission policy doc for the auditing process, including this issue.
Regarding this issue: for people who needs more support due to other their integration needs on loadgen, they need to upstream their needed changes to bindings directory.

[2019-07-24 19:02] samgd commented on #20
Related nuance that came to me after the discussion during the meeting: We may or may not end up disallowing some formats with the approximate aim of tracking the market but what about quantizing to N bits and only using M bits for some M < N (leaving `N - M` set to 0, 1, or undefined)? The hardware can implicitly operate on the M bit? Is this excluded by the current rule set?

[2019-07-24 19:04] christ1ne opened #26 "submission deadline moved to Sept 20."
WG: no one objects so far.

[2019-07-24 20:22] tjablin commented on #19
Addressed in [PR27](https://github.com/mlperf/inference_policies/pull/27). PTAL.

[2019-07-24 20:30] tjablin commented on #25
It's a hand wavy reference to Kolmogorov complexity. It disallows quantization methods that are just enormous lookup tables. If a method is documented a 250 page PhD thesis, that's fine. If a method is a couple 100MB of magic numbers, that's not cool. This isn't a rule we can enforce automatically. To paraphrase Justice Potter:

[2019-07-24 20:46] tjablin commented on #20
The whole whitelist is a hack. It's obviously unprincipled and completely unclear how to apply it to various edge cases. The only reason it existed was to get people to register their preferred numerics early so we could choose an appropriate target accuracy. Now that the target accuracy is locked-in, I feel uneasy about int4.

[2019-07-24 20:50] #8 closed

[2019-07-24 22:42] tjablin commented on #6
Addressed in [PR28](https://github.com/mlperf/inference_policies/pull/28). PTAL.

[2019-07-25 00:17] DilipSequeira commented on #20
I agree the whitelist is a hack. By contrast, I'm uneasy about disallowing implementations that meet all the rules for operator fidelity, post-training calibration, and accuracy, but are excluded from closed because the submitter achieved a higher level of fidelity at low precision than we thought possible.

[2019-07-25 16:16] tjablin opened #29 "Pruning?"
I thought we agreed to disallow pruning, but the rules don't reflect this. Can we please update the rules to either allow or disallow pruning in the Closed division?

[2019-07-25 16:37] samgd commented on #29
Is this a problem given closed prevents retraining? I'd be very surprised if you can gain a non-trivial level of sparsity with post-training quantisation only?

[2019-07-25 16:57] samgd commented on #29
However I should probably add that for the rules I think explicit is generally better than implicit so I'm generally for this inclusion

[2019-07-25 19:04] DilipSequeira commented on #29
Is it not covered by the more general prohibition on discarding non-zero weight elements?

[2019-07-25 19:31] tjablin commented on #29
I think it ought to be covered by that rule, but I'd prefer the rules were more explicit.

Discarding non-zero weight elements -> Discarding non-zero weight elements and pruning.

[2019-07-25 20:03] DilipSequeira commented on #29
I'm all for clarification. I would rather say "including pruning", if it's just to provide emphasis. If it's a semantic change, we should be clear what it is.

[2019-07-31 17:49] christ1ne opened #31 "loadgen modifications must be upstreamed and approved"
Please add to the rule @tjablin
Must upstream to the MLPerf github

[2019-07-31 18:22] #6 closed

[2019-07-31 18:23] #29 closed

[2019-07-31 18:34] christ1ne commented on #26
we already announced on the mailing list.

[2019-07-31 18:34] #26 closed

[2019-07-31 18:42] christ1ne commented on #24
@DilipSequeira please provide an example to discuss more concretely.

[2019-07-31 18:43] christ1ne commented on #25
duplicate of #24

[2019-07-31 18:43] #25 closed

[2019-07-31 18:44] christ1ne commented on #22
duplicate of #31

[2019-07-31 18:44] #22 closed

[2019-07-31 18:44] #19 closed

[2019-07-31 18:44] christ1ne commented on #19
rule updated

[2019-07-31 18:46] christ1ne commented on #18
need ssd-mobilenet source of the int8 model.

[2019-07-31 18:46] #17 closed

[2019-07-31 19:46] tjablin commented on #31
Address in [PR32](https://github.com/mlperf/inference_policies/pull/32).

[2019-08-05 23:59] jveejay opened #61 "Query Library Size determination"
We need to determine the QSL size. Currently, 1000 and 500 are being debated.

Please see link [here](https://docs.google.com/presentation/d/1o9MK0yZVffTPoBH9zI91NYBfnGt0_qnFn2awd6tnDqU/edit#slide=id.g5e24ddb9cc_0_35).

[2019-08-07 15:38] christ1ne opened #34 "lower SSD-mobilenet accuracy to 0.22"
currently it is set to map of 0.23

[2019-08-07 15:40] christ1ne opened #35 "alternative calibration set proposal"
An alternative proposal:
       ImageNet: first 500 images and class labels.
       COCO: first 500 images and annotations.

The current calibration sets are also 500 images each but randomly chosen (?).

[2019-08-07 16:16] tjablin commented on #35
What's the rationale for this proposal? Random selection without replacement is very likely representative. The first 500 images may be unrepresentative.

[2019-08-07 18:03] christ1ne opened #36 "update mobilenet accuracy to 98%"

[2019-08-07 18:12] christ1ne opened #37 "allow to use sub set of the calibration dataset."

[2019-08-07 18:21] christ1ne commented on #36
no projection now. finalize next week.

[2019-08-07 18:22] christ1ne commented on #34
no objection for now. finalize next week.

[2019-08-07 18:28] christ1ne opened #38 "update the rules with accuracy represented 3 digits after decimal"

[2019-08-07 18:30] psyhtest commented on #38
See https://github.com/mlperf/inference/issues/293 and https://github.com/mlperf/inference/pull/320.

[2019-08-07 23:08] georgelyuan opened #39 "performance sample count should be parameter in loadgen"
Hello, currently performance_sample_count is passed as a parameter to the QSL constructor. Based on conversation with Dilip, this should be a parameter in loadgen instead. I assume this should be a TestSettings parameter that loadgen can then pass to QSL through GenerateLoadableSets?

[2019-08-07 23:17] georgelyuan opened #40 "loadgen hardening - TestSettings config file parsing"
To better facilitate auditing, loadgen should be able to accept a file path string or pointer to a file from which it can parse the necessary TestSettings parameters. This file can then be used by auditors to configure validation experiments to ensure submissions abide by MLPerf Inference rules, without submitters having to pass parameters through their main functions.
There are no strict requirem

[2019-08-07 23:28] georgelyuan opened #41 "loadgen hardening - accuracy logging in performance mode"
Today, there is no accuracy logging in performance mode as query response metadata is ignored.
To validate that the SUT provides legitimate responses in performance mode, accuracy logging should still be performed on a per-sample basis with some probability P, where P can be configured by the submitter/auditor. For submissions, P can be set to zero. During the audit process, auditors may choose to

[2019-08-07 23:38] georgelyuan opened #42 "loadgen hardening - unique sample issue mode"
The purpose of this mode is to facilitate auditors' ability to check that the SUT abides by the rules of MLPerf Inference.
In accuracy mode, the loadable set is shuffled and issued such that the SUT sees only unique samples whereas in performance mode, queries are generated from samples randomly picked from the loadable set with random uniform probability.
Unique sample issue is a mode in performa

[2019-08-09 17:14] georgelyuan commented on #40
Looks like this is being tracked already and covered by Siva (Guenther?) in https://docs.google.com/spreadsheets/d/1RA-2QC7aXmYRWTWnuRR7fnwBhKdiCVUPkK7NDI8_oaE/edit#gid=0 as a P1 task. With how important this feature is for auditing, I think this should deserve being bumped to P0.

[2019-08-10 00:39] briandersn commented on #41
Hi George. The feature as proposed sounds very flexible.

I know we talked about just turning on logging 100%, but just doing what you've proposed allows us to defer that decision or choose something anywhere in between. We probably wont know what's best until more submitters are online.

Would you or someone else an nvidia be willing to own the implementation?

Regarding the RNG, it might make se

[2019-08-13 16:45] christ1ne commented on #35
updated the set according to the request of 1 class each.
[calibration_2.txt](https://github.com/mlperf/inference_policies/files/3498015/calibration_2.txt)

[2019-08-13 18:17] jveejay commented on #35
Does this calibration_2.txt address the issue you are facing @christ1ne ?

[2019-08-13 18:21] christ1ne commented on #35
yes. @jveejay

[2019-08-14 12:18] jveejay commented on #38
@tjablin can you please update the rules doc to state that the accuracy should be provided with 5-bit accuracy?

@psyhtest can you please update https://github.com/mlperf/inference/tree/master/v0.5/classification_and_detection with the latest accuracy results? mAP is not up to max precision. Can you update and issue a PR, plz?

[2019-08-14 12:26] jveejay commented on #24
@tjablin would you please update the rules to include this sample description in the rules so that people will find it useful?

https://docs.google.com/document/d/1L58URvzHslLn5C9P2WLptbJ-ut74wwO228DieIOEFh0/edit?ts=5d49eaad

[2019-08-14 15:24] georgelyuan commented on #41
Hi Brian,
Glad you're on board.
Yes, our team is offering to own this implementation.

[2019-08-14 15:56] tjablin commented on #38
[PR44](https://github.com/mlperf/inference_policies/pull/44) should resolve. PTAL.

[2019-08-14 16:00] christ1ne opened #45 "clarify the SW availability"
Currently the rule says:
2.3. System and framework must be available
If you are measuring the performance of a publicly available and widely-used system or framework, you must use publicly available and widely-used versions of the system or framework.

If you are measuring the performance of an experimental framework or system, you must make the system and framework you use available upon demand f

[2019-08-14 16:00] tjablin commented on #24
@DilipSequeira Can you upload your document as a canonical example of a quantization algorithm description so we can link it from the rules?

[2019-08-14 16:04] tjablin commented on #20
Addressed in [PR46](https://github.com/mlperf/inference_policies/pull/46). PTAL.

[2019-08-14 16:20] tjablin commented on #45
Is that correct? I thought there was some carefully negotiated verbiage about tagged releases?

[2019-08-14 17:49] christ1ne commented on #35
image classification additional calibration dataset accepted by WG. README to be updated.

[2019-08-14 17:49] christ1ne commented on #36
WG finalized this change.

[2019-08-14 17:50] christ1ne commented on #34
WG agreed to this change to be added to the rules.

[2019-08-14 17:50] christ1ne commented on #34
@tjablin

[2019-08-14 17:51] christ1ne commented on #36
@tjablin

[2019-08-14 18:01] christ1ne commented on #37
@tjablin please update. WG agreed.

[2019-08-14 18:09] briandersn commented on #39
This makes sense. The source of the samples shouldn't care about the a test or system constraint like the performance_sample_count.

Initially this sounds like just code cleanup, but if you think this will help with auditing this might make sense to prioritize. Is that the idea?

[2019-08-14 18:14] christ1ne commented on #45
Condition for available systems:
1. Identified version. SW available upon purchase or rental or for download. we need these versions information to be public and officially supported for all customers.
2. if use main framework (e.g. TF, PyTorch), any branch is ok, optionally to add a public PR from submitter

to be updated in the inference submission rules doc.

[2019-08-14 18:29] georgelyuan commented on #39
Yes, we could leverage this for auditing.
If you don't have anyone in mind, we can take care of this.

[2019-08-14 18:33] briandersn commented on #39
I do not have anyone in mind, so I'll put NVIDIA down. Thank you!

[2019-08-14 23:36] christ1ne opened #47 "order of operations in SSD"
“Is it possible to change operations only if preserving mathematical semantics?
We are targeting closed division of inference submission.
For example,
In the provided SSD model, concatenation is applied before NMS operation.
During NMS operation, detections with low scores will be filtered out.
We can achieve better latency if we filter out detections before concatenation”
Fusion of the operations

[2019-08-14 23:36] #47 closed

[2019-08-14 23:38] #20 closed

[2019-08-14 23:40] christ1ne commented on #24
We should also keep in mind that if the submitter has the code opensourced, we don't need a doc when we have the actual code.

[2019-08-15 09:47] psyhtest commented on #38
Here's a PR for image classification: https://github.com/mlperf/inference/pull/341. TFLite MobileNet figures are [from CK](https://github.com/mlperf/inference/tree/master/v0.5/classification_and_detection/optional_harness_ck/classification/tflite#accuracy) due to https://github.com/mlperf/inference/issues/334.

At the moment, https://github.com/mlperf/inference/issues/329 is in the way of obtainin

[2019-08-15 11:05] psyhtest opened #48 "Add new reference quantized MobileNet model"
Following WG's discussion on 14/Aug/2019, I suggest we document the request and decision here.

@DilipSequeira:

[2019-08-15 11:06] psyhtest opened #49 "Add new reference quantized SSD-MobileNet model"
Following WG's discussion on 14/Aug/2019, I suggest we document the request and decision here.

@DilipSequeira:

[2019-08-15 11:13] psyhtest commented on #48
Here's a relevant excerpt (quantized MobileNet) from the official README:

| model | framework | accuracy | dataset | model link | model source | precision | notes |
| ---- | ---- | ---- | ---- | ---- | ---- | ---- | ---- |
| mobilenet-v1 quantized | tensorflow | 70.654% | imagenet2012 validation | [from zenodo](https://zenodo.org/record/2269307/files/mobilenet_v1_1.0_224_quant.tgz) | [from tensor

[2019-08-15 11:24] psyhtest commented on #49
The current reference quantized SSD-MobileNet is from Habana:

| model | framework | accuracy | dataset | model link | model source | precision | notes |
| ---- | ---- | ---- | ---- | ---- | ---- | ---- | ---- |
| ssd-mobilenet 300x300 quantized finetuned | tensorflow | mAP 0.23594 | coco resized to 300x300 | [from zenodo](https://zenodo.org/record/3252084/files/mobilenet_v1_ssd_8bit_finetuned.tar

[2019-08-16 04:58] xiuyangleiasp opened #50 "What the minimum accuracy or mAP requirement in the open division?"

[2019-08-16 05:23] tjablin commented on #50
There is no minimum accuracy requirement in the Open division. The purpose of the Open division is to capture cool results that don't meet the requirements of the Closed division. For example, if a 4-bit inference system didn't meet the accuracy targets for the Closed division, the Open would still publish the results.

[2019-08-16 23:01] aaronzhongii opened #51 "pre-processing per row data padding due to hardware alignment requirement"
Just want to know whether per row data padding to match with hardware's alignment requirement is untimed or not.

[2019-08-16 23:54] tjablin commented on #51
The text in Section 7.1 says that untimed pre-processing:

You should feel free to pad to the hardware's required alignment during untimed pre-processing.

[2019-08-17 00:04] aaronzhongii commented on #51
I thought that "pad" refers to padding on the image dimensions. So it's not?

[2019-08-17 00:18] tjablin commented on #51
My reading is that you may pad the batch, image, channel, or other dimensions.

[2019-08-18 20:59] tjablin commented on #50
Hi Dilip,
Some of the ideas from your [MLPerf Open division strawthing](https://docs.google.com/document/d/1SX458TLuQGeRAnZm9Ri2SPQ4ab4Mg0oWVwz9JR-b0i8/edit?ts=5d041713#heading=h.ce3l36szin) don't seem to be merged with the current rules doc.  Could you please open a PR to merge your strawthing into the rules? In particular, we should make sure that lower accuracies and tail latency tolerances are

[2019-08-20 00:28] DilipSequeira commented on #50
Good idea. I'll do it.

[2019-08-20 00:30] tjablin commented on #50
Thanks!

[2019-08-20 04:01] jveejay commented on #49
Yea, I dug through my emails as well and I can't find it.

[2019-08-20 17:52] christ1ne opened #52 "should core count be required to be reported in the details page for a submitting system?"

[2019-08-20 18:03] tjablin commented on #52
I would prefer not to list core count. We don't have a clear definition of a core, and cores aren't generally exposed to users.

[2019-08-20 22:38] DilipSequeira commented on #24
uploaded in calibration/doc

[2019-08-21 15:39] jveejay commented on #52
I think this should be discussed if it is in the context of a cloud system
or a physical silo machine.

On Tue, Aug 20, 2019 at 11:03 AM tjablin <notifications@github.com> wrote:

--
Vijay Janapa Reddi, Ph. D. | Associate Professor
33 Oxford St. | Maxwell Dworkin 147 | Cambridge, MA 02138
John A. Paulson School of Engineering and Applied Sciences | Harvard
University
Email: vj@eecs.harvard.edu | W

[2019-08-22 18:03] aaronzhongii opened #55 "image preloading"
Can we give driver a hint to preload the image data to somewhere closer to chip during LoadSamplesToRam?

[2019-08-22 18:15] tjablin commented on #55
The relevant rules are:

and

Depending on the exact operation of the hint, I think this violates either the first rule or the second.

[2019-08-22 22:30] aaronzhongii commented on #55
Tom,

Thanks for the clarification.

[2019-08-23 01:11] aaronzhongii commented on #55
Tom,

Thanks for the clarification. What if the memory is still DRAM, but at a special region readable by hardware?

[2019-08-23 01:28] tjablin commented on #55
My interpretation is that accessing inputs in host memory from the device via the IOMMU is allowed, but accessing inputs in device memory from the host via the IOMMU is not allowed.

The rule should help you identify a unique physical memory that is the most logical place for inputs from network or camera to arrive. Every query should start in that memory.

[2019-08-23 01:52] aaronzhongii commented on #55
cool, thanks

[2019-08-26 17:01] tjablin opened #57 "LoadGen Language Bindings"
I'd like to clarify that the LoadGen language bindings are not part of the LoadGen and may be modified for MLPerf Inference 0.5 Closed division.

[2019-08-27 01:47] kstreee-furiosa opened #58 "Is it available to use a web API based compilation?"
Hi all,

In our cases, we commonly use and provide a web API based compiler for internal development & customers for security reasons.
Likewise, we hope to compile models using the web API based compiler during MLPerf inference submissions too. (obviously, auditors can use the compiler via web API in our inference submission system).
Is it available to consist our compilation process like this dur

[2019-08-28 15:55] christ1ne opened #60 "clarify accuracy run is needed for every performance run."
Right now a submission to any model should have:
1. accuracy run with single stream (mandatory)
2. performance run with single stream (optional)
3. performance run with multi-stream stream (optional)
4. performance run with server stream (optional)
5. performance run with offline stream (optional)
At least one of 2-5 above should be submitted.

In the rules, it states:
Note: For v0.5, the same cod

[2019-08-29 10:40] wangweiw opened #62 "Questions about team member?"
Hi, Results WG, we have a  question that we are doing NMT Inference benchmark with some engineers from another company, can we metion their names (like XXX from XXX)in the results publicaion?

[2019-08-29 22:58] briandersn opened #64 "Increase GNMT query library size to avoid implicit caching."
There are a small number of queries in the GNMT sample set.

In order to avoid all samples being implicitly cached, can we increase the GNMT source queries by having N copies of the samples such that they take up 512MB?

In order to avoid changing the loadgen API for v0.5, we could increase the size of the library itself and allow the performance size to be larger than the accuracy size in the QSL

[2019-08-30 17:32] christ1ne commented on #24
Need Rule update mandating quantization doc to be submitted X days before the submission deadline or full source code submitted on the submission date.

[2019-08-30 17:43] rachithayp opened #63 "Loadgen: Need clarification on usage of total_sample_count which is part of QSL"
For "Performance mode", I am trying to understand if there are specific expectations on the value the parameter "total_sample_count" in QSL should be set to. Can this be random value?. Please help provide clarification.
For "Accuracy mode" I am assuming this will be equal to the entire Validation set.

[2019-08-30 22:35] tjablin commented on #64
The 3003 sentences in newstest2014 from WMT16 English-German.

[2019-09-03 13:29] psyhtest commented on #62
I've got a similar question.

[2019-09-03 15:57] christ1ne opened #65 "clarification on accuracy vs performance mode"
We should clarify that the same output should be passed in QuerySampleComplete in both accuracy and performance mode explicitly, although the performance mode does not check the content of the output.

[2019-09-03 16:00] christ1ne commented on #62
will it be OK to list the submitter as an string like 'company_A, company_B'

[2019-09-03 16:17] tjablin commented on #62
@christ1ne that sounds totally reasonable. Do you have a rules citation to confirm it? Do we need codified rules for this? Maybe it's okay to leave this uncodified? What do you think?

[2019-09-03 17:16] christ1ne commented on #62
In addition, if company_A and company_B did a submission together, it is up to company_A and company_B to decide who's name or both names to be listed in the submitter column. Meanwhile, at least one of the displayed names needs to be a pre-registered submitter.

[2019-09-03 17:37] christ1ne commented on #55
add this to FAQ in the rules. @tjablin list examples

[2019-09-03 21:28] tjablin commented on #61
Created PR #66 to resolve the issue. PTAL.

[2019-09-03 21:34] tjablin commented on #60
Addressed in PR #67. PTAL.

[2019-09-03 21:40] tjablin commented on #55
Addressed in PR #68. PTAL.

[2019-09-03 21:41] tjablin commented on #37
Addressed in PR #69. PTAL.

[2019-09-03 21:44] tjablin commented on #36
Addressed in PR #70. PTAL.

[2019-09-03 21:46] tjablin commented on #34
Addressed in PR #71. PTAL.

[2019-09-03 23:12] christ1ne commented on #24
we will walk through the comments in the rules doc next week.

[2019-09-03 23:16] christ1ne commented on #65
WG will update the rules.

[2019-09-03 23:57] christ1ne commented on #61
WG will decide next week 500 vs 3072 for Resnet50.

[2019-09-04 00:03] psyhtest commented on #61
FWIW, the state-of-the-art [Google Coral dev board](https://coral.withgoogle.com/docs/dev-board/datasheet/) has 1 GB RAM.

[2019-09-04 00:04] christ1ne commented on #64
the proposal is contacting the dataset itself for multiple times to have size ~512MB. @nvmbreughe  any inputs?

[2019-09-04 00:07] christ1ne commented on #62
WG agree without a rule update.

[2019-09-04 00:14] mlazos opened #72 "clarification on preprocessing text for GNMT"
Is mapping words in a sentence sample to embedding indices an acceptable form of preprocessing when loading text samples to RAM? There are many whitelisted int variants and conversions to white listed data types are permitted :)

[2019-09-04 00:22] tjablin commented on #72
I think the rules allow this because Section 7.1 says the whitelisting:

Arguably, the mapping is a conversion from one quantized format to another. Maybe other people disagree?

I think mapping to embedding **indices** is allowed and mapping to **embeddings** is disallowed.

[2019-09-04 16:02] nvmbreughe commented on #64
I don't think there would be any problem by replicating the 3003 sentences several times. Copy-pasting the text file will do the trick. Should we change the number of queries to match it, i.e., [L509](https://github.com/mlperf/inference/blob/master/v0.5/translation/gnmt/tensorflow/loadgen_gnmt.py#L509) ?

[2019-09-04 16:06] #55 closed

[2019-09-04 16:07] christ1ne commented on #64
I think we may need to double check on BLEU score.

[2019-09-04 16:15] #34 closed

[2019-09-04 16:16] #36 closed

[2019-09-04 16:16] #37 closed

[2019-09-05 17:43] briandersn commented on #63
"total_sample_count" in the QSL depends on the dataset used. It will have the same value for performance and accuracy modes and is not random.

The "performance_sample_count" is the number of samples to select from the total_sample_count, corresponding to a subset of the QSL that can fit in device RAM.

[2019-09-06 16:20] tjablin opened #73 "GNMT Beam Width"
I believe that reducing the beam width of GNMT is **not** an approximation for the purposes of MLPerf Inference. Does everyone agree?

[2019-09-09 02:45] jveejay commented on #73
Tom, for my sanity, can you please explain what you mean here by approximation?

[2019-09-09 04:13] tjablin commented on #73
The rules allow approximations generally. The beam width for the reference GNMT implementation is ten. Ten is way too high. The quality bar for GNMT is so low, you can easy hit the required BLEU score at beam width two. Conceivably you can play games like computing the top two beams with high precision math and the remaining eight beams with ultra-low precision. None of this should be allowed, in

[2019-09-09 06:05] jveejay commented on #73
Ah, gotcha. I see what you mean. Thanks for the clarification. I thought
sometime back we discussed this beam width  change based on some data you
 proposed. How is this related to that? I  thought the WG voted against
that? I could  be wrong.

On Mon, Sep 9, 2019 at 12:14 PM tjablin <notifications@github.com> wrote:

--
Vijay Janapa Reddi, Ph. D. | Associate Professor
33 Oxford St. | Maxwell Dwor

[2019-09-09 06:18] jveejay commented on #63
@rachithayp can we close this out or do you need more clarification?

[2019-09-09 07:16] tjablin commented on #73
We voted against reducing the number of beams in the reference models. I want to make sure we have a common understanding that beam width shenanigans are not permitted under MLPerf rules.

[2019-09-09 08:20] mlazos commented on #72
I agree that's where I think the line is drawn, but what stops us from extending the argument to saying embeddings are a whitelisted format as well as the indices?

[2019-09-09 20:55] DilipSequeira commented on #73
Agreed we need to add this.

But it's annoying that we have to, and parsing that whole section to figure out why this is necessary suggests a different root cause: the section distinguishes between what's _legal_ and what's _allowed_. In particular it says legal variations aren't constrained to the whitelist, but submitters are required to request extensions to the whitelist.

So if I didn't reque

[2019-09-09 21:13] tjablin commented on #73
We already explicitly allow dead code elimination. If the results of a computation do not materially affect the output, they must be dead in some sense, right? The model equivalence list is meant to be indicative, but not exhaustive. We're added to the list in order to establish case law, but the absence of a technique from the list does not necessarily imply that it is forbidden.

Imagine the fol

[2019-09-10 02:31] DilipSequeira commented on #73
_Implementations must treat all beams identically for MLPerf 0.5._

That wording seems fine to me. (As does the beam strategy you want to forbid, but it's a weird edge case so sure, rule it out.)

My larger point here is that the rules say things are legal even though they're not whitelisted. So if we find something during audit that's not whitelisted but otherwise fits the definition of legal, ar

[2019-09-10 03:42] tjablin commented on #72
I think the principle is that mapping from a token to an index just changes from one representation of a number to another. It's not different than changing from two's complement to one's complement. Mapping from token to embedding changes a value into a row and increases the rank of the tensor. A "row" is not one of the enumerated acceptable quantization formats.

[2019-09-10 03:52] tjablin commented on #73
I believe the intention was, "Yes, it's legal so you can have it even though you didn't whitelist it." Whitelisting is encouraged in order to avoid post-facto litigation, but should not be a requirement. I don't think we can or should create an exhaustive list of legal optimizations.

[2019-09-10 04:00] DilipSequeira commented on #73
Interesting.

Current definition of legality is then "All implementations are allowed as long as the latency and accuracy bounds are met and the reference weights are used." with a list of exceptions which is by no means exhaustive.

[2019-09-10 04:12] tjablin commented on #73
As long as it doesn't hit anything on the black list, I think that's correct. Although looking over the blacklist, I think we are missing:

Matrix-multiplication or convolution algorithms that do not asymptotically accurate results when evaluated with asymptotic precision

[2019-09-10 05:06] DilipSequeira commented on #73
And how about "Replacing dense operations with mathematically inequivalent sparse operations"?

Or pruning activations? (only pruning weights is forbidden right now.) And once I've set the pruned activations to zero,  I can do a mathematically equivalent sparse convolution on just the non-zero activations.  (Maybe this doesn't work. But if it _does_ work, is it legal?)

A fun game of whackamole, b

[2019-09-10 05:34] tjablin commented on #73
This seems okay to me.

This is just pruning weights and then deadcode eliminating the activations.

Let me turn the question around. Do you believe the whitelist contains every technique that a reasonable submission would use? There's nothing explicitly permitting fastmath style algebraic manipulations and patching up pointwise discontinuities.

I think the guiding principle here was to make sure

[2019-09-10 07:14] DilipSequeira commented on #73
It's functionally equivalent to something illegal, while not obviously illegal itself. A large number of very smart people are being paid very worthwhile salaries to make their submissions fast yet legal, and will push every boundary.

I don't believe the whitelist contains every technique that a reasonable submission might use. But I think the intent is that people should add techniques to the wh

[2019-09-10 18:02] rachithayp commented on #63
Closing, thank you.

[2019-09-10 18:02] #63 closed

[2019-09-10 21:23] christ1ne commented on #60
closed as the rule updated

[2019-09-10 21:23] #60 closed

[2019-09-10 21:31] christ1ne commented on #38
addressed.

[2019-09-10 21:31] #38 closed

[2019-09-10 22:38] christ1ne commented on #61
Finally we determined 1024 for Resnet . @tjablin to update the rules

[2019-09-10 22:38] tjablin commented on #61
ResNet: 1024
ResNet MobileNet: 1024
SSD-MobileNet: 256
SSD-1200: 64

[2019-09-10 22:39] christ1ne commented on #64
@nvmbreughe please concat the text and issue a PR.

[2019-09-10 22:39] #65 closed

[2019-09-10 22:45] briandersn commented on #64
There's also a potential loadgen component to this, where we may want to allow the QSL performance set size to be greater than the "total" size. Or add an accuracy set size, if we are willing to change the API.

[2019-09-11 16:05] #62 closed

[2019-09-11 16:06] christ1ne commented on #49
added the model

[2019-09-11 16:06] #49 closed

[2019-09-13 16:08] nvmbreughe commented on #64
Sorry for the delay. I will be looking into this today.

[2019-09-13 20:54] guschmue opened #77 "multi stream latency constrain wrong ?"
https://github.com/mlperf/inference_policies/blob/master/inference_rules.adoc#41-benchmarks

mobilenet = 66ms
ssd-resnet34 = 50 ms

seems wrong. Need to swap this?

[2019-09-13 21:04] aaronzhongii opened #78 "clarification for format conversion in pre-processing"
As the rules section 7.1 indicate
May convert data among all the whitelisted numerical formats

and as int8 is in white list format, float to int8 conversion is allowed in pre-processing.

We used calibration list 1 to profile the input tensor value range post pre-processing, the min max range is (-123.68, 151.06), thus to fit the input tensor into int8, a scale of 0.84 shall be multiplied, otherw

[2019-09-13 21:08] tjablin commented on #77
Looking at the "MLPerf Cloud/Edge Inference Matrix" spreadsheet, the rules document seems to have transposed the numbers. Sorry. It's probably my fault. @guschmue, would you like to write a PR to swap the latencies or should I?

[2019-09-13 21:10] guschmue commented on #77
sure can do.

[2019-09-13 21:13] tjablin commented on #78
I believe that converting from F32 to Q8 includes any linear transform that is necessary to fit into the Q8 range. I think multiplying by 0.84 is allowed to be untimed.

[2019-09-13 21:14] aaronzhongii commented on #78
thanks tom

[2019-09-17 16:20] tjablin commented on #64
For accuracy mode, I think running on the 3003 original sentences will be sufficient.

[2019-09-17 16:21] tjablin commented on #50
Did this get merged?

[2019-09-17 16:23] #31 closed

[2019-09-17 16:24] tjablin commented on #11
Friendly ping?

[2019-09-17 16:40] tjablin commented on #73
Addressed in #80.

[2019-09-17 16:43] nvmbreughe commented on #64
@christ1ne , I am working on a PR and have the new (513MB) input file ready: https://we.tl/t-djJZpR8YQO. Could you please help me update the tarball in the download link again?

[2019-09-17 16:55] christ1ne commented on #77
done!

[2019-09-17 16:55] #77 closed

[2019-09-17 16:58] christ1ne opened #81 "terms of use typo?"
In the current terms of use:
https://github.com/mlperf/policies/blob/master/TERMS%20OF%20USE.md

You may cite either official results obtained from the MLPerf results page or unofficial results measured independently. If you cite an unofficial result you must clearly specify that the result is “Unverified” in text and clearly state “Result not verified by MLPerf” in a footnote. The result must com

[2019-09-17 19:51] briandersn commented on #11
This was mostly done already, but will be complete with https://github.com/mlperf/inference/pull/426, which documents the server scenario more explicitly in the loadgen documentation.

I see that this has the "WG rec no rule update" label. Does that mean we don't need to clarify the policy doc as well?

[2019-09-17 20:55] christ1ne commented on #64
@nvmbreughe please see the updated link at https://zenodo.org/record/3437893/files/gnmt_inference_data.zip
I kept the original files and uploaded the new larger set nmt/data/newstest2014.tok.bpe.32000.en.large

I accidentally included a .zip file but I think we can just ignore it for now.

Please update in read me that performance mode uses .en.large while the accuracy mode uses the original .en p

[2019-09-17 22:11] christ1ne commented on #24
will be addressed in submission rules doc

[2019-09-17 22:11] #24 closed

[2019-09-17 22:27] christ1ne commented on #51
WG approved and close.

[2019-09-17 22:27] #51 closed

[2019-09-17 22:28] christ1ne commented on #57
c binding and python bindings can be modified.

[2019-09-17 22:28] #57 closed

[2019-09-17 22:38] christ1ne commented on #81
@petermattson  please fix it.

[2019-09-17 23:25] christ1ne opened #82 "number of runs required, currently it is 5"

[2019-09-17 23:31] tjablin commented on #82
So the number of times is only relevant for Server and Multi-Stream.

[2019-09-18 16:54] petermattson commented on #81
Fixed in doc.

[2019-09-18 16:54] #81 closed

[2019-09-18 22:51] aaronzhongii opened #83 "Source Code License"
is it mandatory to use apache 2.0 for source code in submission the same as loadgen do? can we use other licenses, such as GPL or proprietary license?

[2019-09-18 22:54] christ1ne commented on #83
all code within MLPerf submission repo needs to be Apache 2.0. However, you can always pull code from external repo in your submission script, which may have different licenses.

[2019-09-18 22:55] aaronzhongii commented on #83
ok, thanks

[2019-09-18 22:57] christ1ne commented on #82
@briandersn @tjablin is the 5 times encapsulated within the loadgen? Will the user need to submit 1 set of logs or 5 set of logs for multi-stream and server? Just want to be absolutely clear.

[2019-09-18 23:06] christ1ne commented on #52
closed per metadata discussion

[2019-09-18 23:06] #52 closed

[2019-09-18 23:27] tjablin commented on #82
The LoadGen doesn't know. You have to run it five times and submit five logs or maybe the concatenation of five logs.

[2019-09-18 23:34] christ1ne commented on #82
OK. we should have a small table in the rules like the following:

Number of runs per scenario entry (each run requires a complete set of logs)
Single Stream: 1
Multi-Stream: 5
Server: 5
Offline: 1

We may need to update the directory structure to add a run folder in the results. @petermattson @tjablin @guschmue

[2019-09-18 23:46] tjablin commented on #82
There's a question for this in the Self-Certification form I sent you yesterday. What do you think about it?

[2019-09-19 00:09] guschmue commented on #82
I read this language that this happens in loadgen. @briandersn, true ?

[2019-09-19 00:58] tjablin commented on #82
In principle, it could happen in the LoadGen, but was it ever actually implemented? Do we want to implement at this late date?

[2019-09-19 01:31] guschmue commented on #82
The text is:
```LoadGen determines``` the maximum supported number of streams using multiple test runs.

While that is what we really want, I think somehow people did not trigger on this (ok, I'm one of them) and specify it manually.
Can take a look what it actually does later today.

[2019-09-19 01:38] tjablin commented on #82
My interpretation is that this is a convenience feature and you can determine the maximum number of streams (or the maximum QPS) once and then hardcode it for future runs. You don't have to submit a log showing how you found the maximum. The log just validates that the systems passes at the maximum.

[2019-09-19 03:32] guschmue commented on #82
There is definitely some support for the scan in loadgen, at least for server ... add a ```--find-peak-performance``` to the reference app to enable the FindPeakPerformance mode. As far I can tell that is working. Can we submit the results of that run or do we need to copy the qps and to a normal PerformanceMode run ?

[2019-09-19 05:44] tjablin commented on #82
My unofficially and totally non-binding interpretation is that you can submit the results of --find-peak-performance plus four more runs with the settings you found.

[2019-09-19 05:54] guschmue commented on #82
Just tested this a little for Server; works ok. It doesn't know early out and runs the full query  count on each step of the binary search which takes forever. But if you set the duration to 2 minutes or so its pretty handy.

So the question: if I pick a good initial qps and let it run to find the max qps ... that would be a valid submission without a separate PerformanceMode  run ?

The results a

[2019-09-19 15:58] DilipSequeira commented on #82
I would suggest that for a run to be valid, it has to run at the stated QPS & QoS for the full query count with the supplied seed - but that whether that run was from find-peak-performance or not is immaterial.

[2019-09-19 17:08] guschmue commented on #82
+1.
Do we need to run it 5 times ? Server mode does 270336 queries and I assume that would be enough to make sure results are stable.
If we want submitters to run it 5x we'd need to remind them and we also need to say how we pick the number from those 5 results.

[2019-09-19 17:49] tjablin commented on #82
In order to support a claim of 200 QPS in the Server scenario, you need five runs with QPS at least 200. If you have five runs with {201, 210, 205, 207, 202} QPS, that's sufficient to claim 200 QPS. I agree with Dilip's interpretation that "whether that run was from find-peak-performance or not is immaterial." The statical power of the techniques we are using to validate QPS (or number of streams)

[2019-09-19 18:27] willc2010 commented on #82
maybe we should specify the time stamp on the loadgen log should be within X min to limit the numbers of total runs that the results can be cherry-picked from? Likely this will open a huge debate on what this X should be.

[2019-09-19 18:34] tjablin commented on #82
This issue seems too hard to tackle through rule making. If someone has an idea about how to specify this, we should seriously consider it for MLPerf 0.6.

[2019-09-20 16:37] christ1ne commented on #83
please reopen if further issues.

[2019-09-20 16:37] #83 closed

[2019-09-20 16:38] #73 closed

[2019-09-20 17:12] christ1ne opened #84 "Use the reference code to determine which LoadGen API is mandatory?"
Right now I don't see the following 2 LoadGen API in the reference code:
- ReportLatencyResults()
- UnloadSamplesFromRam()

Can I assume they are not needed for the submission?
@briandersn @tjablin @guschmue

[2019-09-20 17:22] tjablin commented on #84
In our implementation LoadSamplesFromRam unloads all prior LoadSamplesFromRam and LoadSamplesFromRam is a no-op. I think this is allowed. I think implementing ReportLatencyResults is allowed.

[2019-09-20 17:27] christ1ne opened #85 "code freeze date proposal for v0.5"
I'd like to propose next Wed Sept 25 as the code freeze date for all SW except for compliance checking. In theory I think we can fix the directory structure and naming manually if needed.

What do you think? @jveejay @TheKanter @petermattson @guschmue @briandersn @tjablin @DilipSequeira

[2019-09-20 17:36] christ1ne commented on #84
@tjablin I'm sure people can use all the APIs which loadgen provides. The question is that if we can use the reference implementation to determine which loadgen APIs are mandatory in the submissions.

[2019-09-20 17:40] tjablin commented on #84
For the two APIs you mention, I think it is acceptable to implement them as no-ops.

[2019-09-20 17:40] guschmue commented on #84
we register and implement UnloadSamplesFromRam but wipe the current samples in LoadSamplesFromRam as well so we don't care if it gets called or not.
If one does something wrong with this the accuracy numbers will be wrong.

[2019-09-20 21:49] christ1ne commented on #82
In the rules, we specify the multi-stream runs to be 270k. With resnet 50 where a query will arrive in every 50ms, each will take 262742*0.05/3600 = 3.6 hours. If we require 5 runs, it will take 18 hours.  I will recommend the total run time to be < 8 hours so that it can be done by 1 engineer and 1 system in 1 working day. What will we lost if we reduce 270k to 27k. @tjablin

[2019-09-20 22:02] tjablin commented on #82
Cutting the required number of queries from 33 * 2^13 to 3 * 2^13 reduces the statistical power such that we would only really be able to enforce 90th percentile tail latency bounds. 90th percentile tail latency has weird consequences for NMT especially and raises the issue of soft-dropping again.

[2019-09-20 22:03] tjablin commented on #82
If we have to compromise here, I would rather keep the number of queries constant and reduce the number of runs for the multi-stream scenario.

[2019-09-20 22:07] christ1ne commented on #82
that's fine with me but I guess we need the WG approval

[2019-09-20 22:07] tjablin commented on #82
If you open a PR, we can discuss on Tuesday.

[2019-09-20 22:14] christ1ne commented on #82
ok

[2019-09-20 23:24] christ1ne commented on #61
rule updated.

[2019-09-20 23:24] #61 closed

[2019-09-20 23:26] christ1ne commented on #45
updated in the submission doc, to be uploaded by @petermattson

[2019-09-20 23:26] #45 closed

[2019-09-20 23:27] christ1ne commented on #50
@DilipSequeira friendly ping

[2019-09-20 23:27] #35 closed

[2019-09-20 23:27] christ1ne commented on #11
no rule update needed. Code already in.

[2019-09-20 23:27] #11 closed

[2019-09-22 13:32] jveejay commented on #85
Can we make it the end of the week @christ1ne as that will give us exactly two weeks, and it will also allow us to tell folks about the freeze on Tuesday and give time to lock things down if anything is afloat. I think there are one or two items that are afloat with SSD ResNet. Any others?

In general, fully agree with you that we should freeze the code.

[2019-09-24 03:52] christ1ne commented on #85
@ can we allow submitter to use any loadgen with commit hash starting this Wed? If we cannot separate user.conf and mlperf.conf, can we just leave the mlperf.conf as it is?

[2019-09-24 16:10] tjablin commented on #64
After [PR427](https://github.com/mlperf/inference/pull/427) lands, we still need to update the minimum QSL size for NMT in the rules.

[2019-09-24 16:21] tjablin opened #89 "Fix latency definition"
This rule change just legalizes what the LoadGen is already doing. No change to the LoadGen is required.

In Server mode latency is defined as the time from when the LoadGen was scheduled to pass a query to the SUT, to the time it receives a reply. For particularly bad implementations, the SUT can cause the LoadGen to get behind schedule and issue queries late. The alternative, of starting the clo

[2019-09-24 22:11] tjablin commented on #58
WG approves.

[2019-09-24 22:11] #58 closed

[2019-09-24 22:12] tjablin commented on #58
Please indicate the version of the web API based compiler so the results are reproducible even if the compiler has been updated since.

[2019-09-24 22:14] tjablin commented on #72
WG approves interpretation. Mapping indices is okay. Mapping embeddings is not valid.

[2019-09-24 22:14] #72 closed

[2019-09-24 22:15] tjablin commented on #78
WG approves Multiplying by a constant as part of pre-processing is fine.

[2019-09-24 22:15] #78 closed

[2019-09-24 22:21] tjablin commented on #82
WG recommends one run required only for Multi-Stream.

[2019-09-24 22:24] tjablin commented on #84
WG recommends that submitter can implement or not implement ReportLatencyResults and UnloadSamplesFromRam at their discretion.

[2019-09-24 22:24] #84 closed

[2019-09-24 22:26] tjablin commented on #85
WG recommends Friday Freeze.

[2019-09-24 22:30] tjablin commented on #89
WG recommends fix. Then merged.

[2019-09-24 22:30] #89 closed

[2019-09-27 14:04] psyhtest opened #90 "Per scenario rules vs. per benchmark rules"
[Section 3](https://github.com/mlperf/inference_policies/blob/master/inference_rules.adoc#3-scenarios) specifies the **Duration** and **Samples/query** metrics per scenario. [Section 4.1](https://github.com/mlperf/inference_policies/blob/master/inference_rules.adoc#41-benchmarks) specifies the **QSL Size**, defined as "the size of the test set for each benchmark" for performance runs, per benchmar

[2019-09-27 14:31] psyhtest commented on #90
By the way, `24576` has been [removed](https://github.com/mlperf/inference/commit/b94769ff0467628f0537669e12552cd22e22f3fc#diff-8ea4d56d28fe617b3ebc3dd431b194ed) from the reference code:
[code]
but not reintroduced into [`mlperf.conf`](https://github.com/mlperf/inference/blob/master/v0.5/mlperf.conf):
[code]
I must have missed this discussion when I was away a couple of weeks ago?

[2019-09-27 16:20] tjablin commented on #90
Section 3 says that a valid performance run for Single Stream must include at least 1024 queries and run for at least 60 seconds. Depending the speed of the SUT, it may be necessary to run for more than 60 seconds or more than 1024 queries. Section 4.1 indicates the minimum QSL size. For SSD-MobileNet, the minimum QSL size is 256. This means that the LoadGen should load at least 256 samples into D

[2019-09-27 16:23] tjablin commented on #90
Section 4.1 says:

The second sentence is kind of misleading without the first sentence.

[2019-09-27 23:02] psyhtest commented on #90
Hi Tom, thanks for the explanation. In the heat of the moment, I forgot that queries get selected at random, so it is possible to have more queries than samples. How about modifying Section 4.1 from:

to:

[2019-09-27 23:06] psyhtest commented on #90
Now it is clear that this code was wrong:
[code]
(the default should have been 1; 24576 is the number of samples, not queries)

[code]
(the defaults are model-specific: 270,336 queries for image models and 90,112 otherwise.)

[2019-09-27 23:08] psyhtest commented on #90
Are we missing another default?
[code]

[2019-09-27 23:22] tjablin commented on #90
Even if the QSL size is greater than the total number of samples, some queries may be selected more than once or not at all.

Section 5.1:

[2019-09-27 23:23] psyhtest commented on #90
On the other hand, the tail latency percentile is `N/A` for the Offline mode in [Section 3](https://github.com/mlperf/inference_policies/blob/master/inference_rules.adoc#3-scenarios). Is this superfluous then?
[code]
If 90% is pretty meaningless, why are we clinging to [24,576 samples](https://github.com/mlperf/inference_policies/blob/master/inference_rules.adoc#10-appendix-number-of-queries) then

[2019-09-27 23:32] psyhtest commented on #90
Yes, I understand that, but the QSL size is only greater than the required number of samples for GNMT in the SingleStream mode (3003 > 1024), right?

Can we replace 'library' with 'test set' here for consistency with the end of Section 3?

[2019-09-29 18:08] riking commented on #64
Reopen for rules update

[2019-09-30 15:39] psyhtest commented on #90
Coming back to the minimum number of samples for each scenario, I'm puzzled this is nowhere to be seen in `mlperf.conf`.

For example, we know that:
[code]
However, we can't set:
[code]
as there may be more queries than 1, right (e.g. if the SUT can process no more than 5,000 samples per query due to memory size constraints)?

[2019-09-30 16:23] tjablin commented on #90
There's no good justification for the minimum number of samples required for Offline mode other than comity with the other modes. I think an hour long run on the very smallest reasonable device is acceptable. I think it is too late to change the requirements for Offline mode particularly since no one has actually complained about Offline run durations on an SUT they are planning to submit.

[2019-09-30 16:25] tjablin commented on #90
Also, the goal for Offline is to measure sustained throughput in the limit, so the run should be long enough to measure thermally throttled performance rather than peak performance.

[2019-09-30 16:28] tjablin commented on #64
We still need the rules update. Can we please try to have a PR ready before the rules meeting on Tuesday?

[2019-09-30 17:04] psyhtest commented on #90
I estimate an hour and a half for MobileNet on Rpi4, but it's a comparatively high end dev board. But I agree it's too late to change for this round.

What would you think about updating this requirement for the next round to specify only the minimum duration, say, 60 seconds, rather than both that and the minimum number of samples?

[2019-09-30 17:10] tjablin commented on #90
Generally speaking longer runs are better than shorter runs. Until and unless a submitter complains about a SUT taking too long, I am disinclined to reduce or remove the minimum query counts for Offline mode. I am prepared to show more flexibility if a submitter needs it for a planned submission.

[2019-09-30 18:50] DilipSequeira commented on #64
PR #91.

[2019-09-30 19:36] psyhtest commented on #90
Consider mine a submitter's complaint.

Are we going with the same limits for the Open?

[2019-09-30 19:45] tjablin commented on #90
Are you planning to submit a SUT that has overall performance characteristics that are roughly comparable to a Rpi4? Are your offline performance runs more than two hours? If your offline performance runs are pushing the bounds of tolerability, what are you doing about offline accuracy runs which are even longer?

[2019-09-30 20:04] psyhtest commented on #90
RPi4 is one of our SUTs. We accept we need almost 4 hours for a full accuracy run. There is just no way around that. It's just we were hoping to get away with a much shorter performance run.

[2019-09-30 22:19] tjablin opened #92 "Accuracy data set?"
Section 7 says:

We should clarify which dataset is the accuracy dataset.

[2019-09-30 22:23] tjablin commented on #92
Also, we should be clear that the 'QSL Size' applies to performance mode only and the accuracy data set size is much larger than 'QSL Size' except for NMT.

[2019-09-30 22:35] DilipSequeira commented on #92
Agreed. The current wording is "For performance runs, the LoadGen will select queries uniformly at random (with replacement) from a test set. The size of the test set for each benchmark is listed as 'QSL Size' in the table above.", with nothing about accuracy set size.

[2019-09-30 22:47] tjablin commented on #92
Do you want to attempt a fix?

[2019-09-30 23:29] tjablin commented on #90
It's none of my business, but why are you planning to submit an RPi4? Are you planning to normalize to RPi4 scale? Do you just want to drop the minimum number of queries for Offline?

[2019-10-01 08:40] psyhtest commented on #90
Why not? (to all your questions)

[2019-10-01 17:01] christ1ne commented on #92
I will open a PR before the meeting this afternoon on this.

[2019-10-01 22:26] christ1ne commented on #64
done

[2019-10-01 22:26] #64 closed

[2019-10-01 22:26] christ1ne commented on #82
done

[2019-10-01 22:26] #82 closed

[2019-10-01 22:27] christ1ne commented on #85
done

[2019-10-01 22:27] #85 closed

[2019-10-02 01:07] tjablin commented on #94
Addressed in #95. PTAL.

[2019-10-02 15:50] nvmbreughe commented on #94
@christ1ne , I assume you are discussing the calibration set I added in https://github.com/mlperf/inference/pull/396 ?

It contains 500 out of the 19188 training samples, so 2.6%.

[2019-10-02 15:57] christ1ne commented on #94
Thanks! @nvmbreughe  for the info.

[2019-10-02 21:15] tjablin opened #96 "Disallow Down-Sampling Inputs"
The inputs to SSD-1200 are very up-sampled. Potentially, you could exploit this by downsampling the inputs and downsampling the kernel for Conv0. This seems bad. I would propose banning downsampling inputs and other techniques that upsampling in pre-processing. Thoughts?

[2019-10-02 21:33] christ1ne commented on #96
makes sense to me.

[2019-10-02 23:25] DilipSequeira commented on #96
yep.

[2019-10-03 17:40] jveejay commented on #96
Sounds logical, good catch.

[2019-10-05 17:34] guschmue commented on #96
+1

[2019-10-07 19:05] tjablin opened #97 "Sorting SSD Images by Image ID in Offline"
Do we agree that sorting SSD images by image id is in violation of the anti-coalescing rule? Techniques that only improving performance due to SSD's small QSL size ought to run afoul of the anti-coalescing rule, right?

[2019-10-07 19:27] DilipSequeira commented on #97
It's without question against the _spirit_ of the rule. We probably need a prohibition against e.g. "techniques that take advantage of samples being repeated within or across queries", since I don't think this is strictly either coalescing or caching.

[2019-10-07 19:38] tjablin commented on #97
By contrast Intel's [PR 484](https://github.com/mlperf/inference/pull/484) is valid because also works for non-identical queries?

[2019-10-07 20:15] DilipSequeira commented on #97
I don't think sorting queries by length violates the spirit of the rules.

Whether it should be untimed, and whether it's reasonable to change the reference model at this stage, are different questions - both concern me.

[2019-10-07 20:26] tjablin commented on #97
In Intel's PR, I think the sorting operation is timed. Maybe I misread it? I agree that sorting the input ought to be timed since sorting is not one of the enumerated untimed pre-processing operations.

I also agree that it is too late to change the reference models.

[2019-10-08 16:49] christ1ne opened #98 "can we 'borrow' calibration techniques during the review period"
As training is not a HP tuning contest and we allow 'HP borrowing' post submission, and inference should not be a calibration contest either, do we allow 'calibration borrowing' during the review period?

[2019-10-08 17:21] christ1ne opened #99 "minimum list of files needed this Friday."
Let's decide on the list of files per entry to allow the Closed Division submitter to have the chance to improve the submission package structure (not the performance data).

my proposal:

**Closed Division**
-- log summary per entry
-- log detail per entry
-- accuracy log (at least one per model implemented)
-- code
-- log compliance checker and its printed error messages
-- human readable result

[2019-10-08 17:27] DilipSequeira commented on #99
+ self certification questionnaire

[2019-10-08 19:12] tjablin commented on #96
Addressed in #100. PTAL.

[2019-10-08 19:21] tjablin commented on #97
Addressed in #101. PTAL.

[2019-10-08 19:29] tjablin commented on #98
There are a lot of techniques that improve performance for the MLPerf 0.5 models that are not architecture specific. It is very unlikely that any submitter has thought of or implemented all of them. Consequently, it is very likely that all submitter could be in the slightly awkward position of being able to submit better numbers after inspecting other submissions. In a perfect world, maybe we woul

[2019-10-08 19:30] tjablin commented on #92
Ping?

[2019-10-08 22:29] tjablin commented on #99
WG decides self-cert checklist due by Friday unless you ask for an extension until Wednesday.

[2019-10-08 22:45] aaronzhongii opened #103 "question about the questionaire"
for results tables in the questionaire, for example, for SingleStream mode, where should i fill the latency result?

[2019-10-08 22:49] tjablin commented on #103
It doesn't go in the checklist. The checklist is only for issues related to the correctness of the submission, not performance. There is no maximum 90th percentile latency for single stream.

[2019-10-08 22:49] aaronzhongii commented on #103
got u

[2019-10-08 22:49] #103 closed

[2019-10-08 23:02] aaronzhongii opened #104 "RND seeds change shall be in the check list of valid loadgen commit list in the questionaire"
in our details log
7dc0950cb7cf5201a72e80c24bb9c34ebdfe4fab Add the RNG Seeds
61220457dec221ed1984c62bd9d382698bd71bc6 loadgen: re-apply fix for msvc (#459)
5684c11e3987b614aae830390fa0e92f56b7e800 Update the broken txt url link (#456)
55c0ea4e772634107f3e67a6d0da61e6a2ca390d https://github.com/mlperf/inference/issues/450 logging per-sample info regardless of scenario (#454)
d31c18fbd9854a4f1c489c

[2019-10-08 23:07] aaronzhongii opened #105 "about correct number of times of scenario in the questionaire"
For each SUT and scenario, is the submission run the correct number of
times for the relevant scenario? (check one)
- [ ] Yes (Accuracy 1x Performance 1x Single-Stream, Multi-Stream,
Offline)
- [ ] Yes (Accuracy 1x Performance **1x** Server)

should be 5x instead of 1x for Server right?

[2019-10-08 23:08] tjablin commented on #105
Yikes! Nice catch will fix.

[2019-10-08 23:08] tjablin commented on #104
@guschmue @briandersn Can you update this list?

[2019-10-08 23:25] tjablin commented on #98
WG decides no borrowing.

[2019-10-08 23:25] #98 closed

[2019-10-08 23:30] jveejay commented on #99
Open division requirements are the same as the closed division! See list above.

[2019-10-08 23:31] jveejay commented on #99
Updated the closed division to also include system...json data.

[2019-10-08 23:31] tjablin commented on #99
WG adopts Christine's proposal. WG decides same for closed and open. WG decides if you do not pass Guenther's compliance check you must file an issue against yourself and fix it. WG decides you also need the system_description_id.json file.

[2019-10-08 23:31] #99 closed

[2019-10-09 01:32] tjablin commented on #105
Resolved in be618cfd9b03928b79edd27ca0681e0cac9c231a.

[2019-10-09 01:32] #105 closed

[2019-10-09 01:32] #97 closed

[2019-10-09 01:33] #96 closed

[2019-10-09 01:33] #94 closed

[2019-10-09 04:45] aaronzhongii commented on #104
tom,
looks like you withdraw the change? so we need to update mlperf.conf for the rand seed? i have to rerun everything, this sucks.

[2019-10-09 04:48] tjablin commented on #104
What change?

[2019-10-09 04:50] aaronzhongii commented on #104
so I sync the inference to tip and try to cherry pick your rnd seed change again and found it's closed, then I found Anton proposed to update mlperf.conf to include the rnd seeds. So I guess this is the new decision about how we should set the rnd seeds? anyway, I am rerunning all the tests now.

[2019-10-09 04:52] tjablin commented on #104
Yeah. Anton's configuration change is better than hardcoding the seed. Particularly, since NVIDIA's audits will require re-running with a different seed.

[2019-10-09 04:53] aaronzhongii commented on #104
sure, just I need to rerun all the tests (so that the detail log can be perfect), doing it now.

[2019-10-09 15:15] TheKanter opened #106 "Clarify server runs and scores?"
At the end of section 3 of the rules, we define the number of runs needed for a valid submission:
5 for server
1 for all other scenarios

We do not specify how the five runs in server are used to compute a score (and if we agreed I don't remember), e.g.,

1. Arithmetic average
2. Drop high and low, average remainder
3. Median
4. Lowest

I would recommend 1, but we should discuss.

[2019-10-09 16:10] tjablin commented on #106
You have to meet or exceed your reported throughput in each of the five runs. In other words, the min of the five runs.

[2019-10-09 16:12] tjablin commented on #106
Statistically, one in one hundred runs will be golden and one in one hundred will be leaden. If you have to run a sixth time and drop one run that's fine, but if you are running five hundred times and cherry picking the top five you should take a long hard look in the mirror.

[2019-10-09 16:16] TheKanter commented on #106
Thanks.

[2019-10-09 16:16] #106 closed

[2019-10-10 14:38] jveejay opened #107 ""MLPerf will provide a calibration data set for all models except GNMT." T/F? F!"
We need to update the rules to clear this statement. We changed to provide translation calibration data.

[2019-10-10 15:53] tjablin commented on #107
Addressed in #108. PTAL.

[2019-10-10 20:32] DilipSequeira opened #109 "Scenario table is inconsistent with FAQ for server"
For server scenario, the table clearly says that the metric is the Poisson parameter, but down in the FAQ (and IMHO easily overlooked) is that it's scheduled queries/second.

@tjablin which is correct? Can we fix the incorrect one?

[2019-10-10 20:51] tjablin commented on #109
"Maximum Poisson throughput parameter supported" means the maximum throughput for queries generated by a Poisson process. "Scheduled samples per second" is the "Maximum Poisson throughput parameter supported." If you dig into the LoadGen, the calculation of "Scheduled samples per second" is slightly idiosyncratic, but I think it is fine for MLPerf Inference 0.5 and too late to change regardless. T

[2019-10-10 22:02] DilipSequeira commented on #109
Thanks. We'll use YYY.

But also, I should've been clearer - the distinction I was making was between the poisson parameter to the distribution (target mean frequency) and the issued QPS over the run (observed mean frequency.) The latter is expected to converge on the former, of course.

I suggest the natural meaning of the table is the first, and the FAQ gives the second.

Let's fix when we're no

[2019-10-10 23:28] briandersn commented on #104
I was just doing an audit of the recent commits that don't have a SHA1 in the submission_checklist.md

There are a lot. Only one touches loadgen. Rather than add a bunch of SHA1's to the checklist, I think we should rely on the existing "Other" option in the checklist and allow folks to specify any commit that is on top of the ones in the existing list.

[2019-10-10 23:48] aaronzhongii commented on #104
All the latest changes, only one change touch loadgen directory, as in https://github.com/mlperf/inference/commits/master/loadgen

Though detailed log includes all the changes, but i still check the 6122045 box in self checker. I don't think there is any problem, unless d381431 is also used in your submission.

Aaron

------------------------------------------------------------------
From:Brian C.

[2019-10-17 20:56] DilipSequeira opened #110 "FAQ sections on preloading are confusing"
I think what would serve us here better the Q/A format is a longer explanation of the rules text  that the QSL placement of data for an accelerator should model the dataflow from network/camera, which we can iteratively amend to cover points of confusion that arise.

[2019-10-18 16:36] DilipSequeira opened #111 "Clarify GNMT preprocessing"
Issue #72 attempts to do this, but the discussion there is not obviously pertinent to the decision that was reached, and the decision itself is not clear.

We need either to clearly allow the mapping from token substrings to embedding indices to be untimed, or state clearly that it is timed.

[2019-10-18 16:48] tjablin commented on #111
For MLPerf Inference Next, I'd like to make all pre-processing timed. What do you think? Also, if untimed pre-processing is allowed in MLPerf Inference Next, do you think tokenization ought to be timed or untimed?

[2019-10-18 16:48] tjablin commented on #111
To be clear, I think that even JPEG decode ought to be timed to reward people with hardware JPEG decoders.

[2019-10-18 16:57] DilipSequeira commented on #111
In Next, I'd like to see much stronger correspondence between the benchmark/scenario combinations and the use cases.

For GNMT, I think tokenization should be timed. JPEG decode is something we might choose to vary by scenario, because some are intended for input from camera.

[2019-10-18 17:10] tjablin commented on #111
Maybe allow untimed preprocessing in Single- and Multi-Stream and disallow in Server and Offline?

[2019-10-18 17:48] DilipSequeira commented on #111
I think that's the right division.

[2020-01-14 17:55] christ1ne opened #112 "update to re-training rules"
Is there a way to include submitters who need re-training to submit. What's the acceptable re-training rule?

David Kanter will lead on the survey of the potential new submitters who needs re-training.

Still OK to do it in Open

[2020-01-14 17:58] christ1ne opened #113 "SSD-Resnet34 TF and PyTorch models are not equivalent"

[2020-01-14 18:02] christ1ne opened #114 "co-locating several models in server scenario testing"
Let's think about the possibility of serving different models within the same server run for v0.7

[2020-01-15 20:49] TheKanter opened #115 "Time pre-processing, JPEG decoding?"
Request to re-open whether we should we change the rules about JPEG decoding and other pre-processing steps?

Current rules: Use bitmaps, don't time JPEG decode, sample-independent pre-processing is untimed. See https://github.com/mlperf/inference_policies/blob/master/inference_rules.adoc#pre-and-post-processing

Xiaoqi Cao says: To test end-to-end (E2E) duration is more realistic. To enhance the

[2020-01-15 20:50] TheKanter opened #116 "Should we have a separate division for cloud providers?"
Comment is from v0.7 issues wishlist.

[2020-01-15 20:52] TheKanter opened #117 "Request for models for devices smaller than smartphones"
Comment from MLPerf Inference v0.7 wishlist document.

Note that the TinyML group seems to be providing this, so perhaps we can close?

Xiaoqi Cao says: seperate inference to cloud, edge-server and edge sides. It is closer to realistic industrial applications.

[2020-01-15 20:57] TheKanter opened #118 "Revisit accuracy and latency targets for v0.7"
~3 Comments from MLPerf Inference v0.7 wishlist document.

1.  Increase accuracy threshold
2. Reduce latency requirement (i.e., lower latency)
3. Tighten tail latency for single stream, e.g., from 90%ile to 95% or 99%

Thoughts:

1. We should talk to subject matter experts and customers to guide these issues
2. 99%-ile is very expensive to verify per Tom Jablin's math. It would require at least 27

[2020-01-15 20:58] TheKanter opened #119 "Normalize inference scores"
Comment from MLPerf Inference v0.7 wishlist document: requests for normalization.

[2020-01-15 20:59] TheKanter opened #120 "Complex multi-model benchmarks"
Comment from MLPerf Inference v0.7 wishlist document:

Request for multiple dependent and independent inferences per query (eg. image-to-text-to-voice, voice-to-text-to-translate-to-voice).

[2020-01-15 21:02] TheKanter opened #121 "Request for queries to arrive from network"
Comment from MLPerf Inference v0.7 wishlist document.

Currently queries start in DRAM, which simulates arrival from an I/O device (e.g., sensor or network).

Xiaoqi Cao says: It is more realistic.

David Kanter says: This will massively complicate an already complicated benchmark! Also, many queries come from system sensors, e.g., smartphone cameras. Network might be appropriate for cloud scenari

[2020-01-15 21:04] TheKanter opened #122 "Mobile division"
Comment from MLPerf Inference v0.7 wishlist document.

Request for mobile division and also a burst mode scenario, where N queries arrive simultaneously. It is implied that latency would be the metric.

DK thinks we can probably close as we have a mobile WG now!

[2020-01-15 21:20] TheKanter opened #123 "Rules for dropping queries"
Comments from MLPerf Inference v0.7 wishlist document.

Request to develop rules for dropping queries.

DK comment: Unsure of what this means. We do have some rules.

[2020-01-16 06:53] TheKanter opened #124 "Reduce NMT beamwidth"
Comment from MLPerf Inference v0.7 wishlist document.

We found that NMT beam width (10) in v0.5 was greater than necessary to deliver the required accuracy (peak accuracy at 4, acceptable at 1 in BF16). However, several submitters had already started optimizing using the initial beam width. To be fair we required everyone to use the same beamwidth.

This suggestion would have us use a more sensib

[2020-01-16 17:44] jveejay commented on #122
@christ1ne and @TheKanter can we create tags here for different groups who should answer the questions? for instance, this seems like a good thing that the mobile WG should focus on and come back with a decision. Could we create a mobile WG tag or something?

[2020-01-16 18:01] christ1ne commented on #122
done. please check

[2020-01-16 18:23] jveejay commented on #122
Thanks!

[2020-01-21 17:33] christ1ne commented on #124
Let's put this on hold until we are sure GNMT stays.

[2020-01-21 17:35] christ1ne commented on #123
Currently this request is not clear. This issue will get closed if no response in 10 days.

[2020-01-21 17:35] #122 closed

[2020-01-21 17:39] christ1ne commented on #121
The WG agreed that we need to have a concrete proposal including how to measure the updated performance with this change. If you'd like to champion this, please respond within 10 days.

[2020-01-21 17:40] christ1ne commented on #120
The WG agreed to consider a more detailed and concrete proposal if someone is willing to do the investigation. Please respond to this in 10 days if you'd like to champion this.

[2020-01-21 17:42] christ1ne commented on #119
The WG agreed that power will be the normalization metric. Please re-open issue if anything else is needed.

[2020-01-21 17:42] #119 closed

[2020-02-10 21:36] christ1ne commented on #124
suggest to close as GNMT is no longer in v0.7

[2020-02-10 21:36] #123 closed

[2020-02-10 21:37] christ1ne commented on #121
No one showed interest in a proposal. We will close this for now and re-open if needed

[2020-02-10 21:37] #121 closed

[2020-02-10 21:38] christ1ne commented on #120
No one showed interest in a proposal so we will close this issue for now and re-open if needed.

[2020-02-10 21:38] #120 closed

[2020-02-10 21:39] christ1ne commented on #117
any action needed? Otherwise we should close this.

[2020-02-10 21:40] christ1ne commented on #116
What's the motivation here?

[2020-02-10 21:42] christ1ne commented on #114
any concrete proposal here?

[2020-02-10 21:42] TheKanter commented on #117
The TinyML group, lead by VJ is handling this. For further questions, contact @jveejay

[2020-02-10 21:42] #117 closed

[2020-02-10 21:44] christ1ne commented on #111
I suggest we close this as GNMT is not in the next round.

[2020-02-10 21:45] christ1ne commented on #48
I suggest we close this as MobileNet is not in the upcoming v0.6 round

[2020-02-10 21:47] christ1ne commented on #107
done

[2020-02-10 21:47] #107 closed

[2020-02-10 21:48] christ1ne commented on #104
We will include random seed in the next round of the checklist update for inference v0.6. Please re-open if you don't see it there.

[2020-02-10 21:48] #104 closed

[2020-02-20 03:03] rnaidu02 opened #125 "ImageNet 2012 validation set is no longer available"
Link to download ImageNet validation data set within Reference code is broken and no longer accessible.

Same as https://github.com/mlperf/inference/issues/542

[2020-03-17 23:50] aaronzhongii opened #126 "SSD-Resnet34 NHWC model"
as in https://github.com/mlperf/inference/issues/219, someone (or maybe the model owner) provides a new link in zenodo for both NHWC and NCHW model download for SSD-Resnet34. I have tried the NHWC model at my local and verified accuracy at 22.761%, which is pretty good. I suggest to update the zenodo link of SSD model in v0.5/classification_and_detection/README.md with this new link.

[2020-03-20 17:50] rnaidu02 opened #127 "Train BERT SQUAD fine-tuning task to INT8"
On Intel CPU
 - post-training quantization to INT8 has accuracy issues and we had issues SSD models during v0.5
 - symmetrically quantized int8 finetuned models are having accuracy issues

for the above reasons, Intel would like to train fine-tuning using Huggingface+NNCF plugin to produce symmetric weights and asymmetric activations.

[2020-03-20 19:03] DilipSequeira commented on #127
NVIDIA is planning to contribute an ONNX model using per-tensor symmetric INT8 weights and activations that has accuracy close to the reference. So that may obviate this issue.

But you should feel free to contribute your own quantized model too. Two provisos:

-  you should fine-tune starting from the MLPerf reference weights
- as per https://docs.google.com/document/d/1YYgB_UR7jE5rQFMHet6m87s9qa

[2020-03-27 17:17] DilipSequeira opened #128 "Different implementations for different input sizes"
In the section on model equivalence, change this:

_Different implementations based on dynamically determined batch size_

to this

_Different implementations based on dynamically determined batch or input size_

The use cases are problems with variable input size (e.g. BERT, RNN-T, potentially DLRM) where the preferred implementation for small sizes may be different from that for large sizes.

[2020-03-27 17:42] tjablin commented on #128
LGTM

[2020-03-27 18:51] DilipSequeira opened #129 "Placement of loadgen samples in accelerator memory"
NVIDIA is seeking approval to place the loadgen samples in accelerator memory. A production system using this capability would leverage NVIDIA's [GPUDirect](https://developer.nvidia.com/gpudirect) capability, in concert with the [DPDK](https://developer.download.nvidia.com/video/gputechconf/gtc/2019/presentation/s9730-packet-processing-on-gpu-at-100gbe-line-rate.pdf) library.

To support this requ

[2020-03-27 19:02] tjablin commented on #129
A couple comments:

In the future, I think there will be accelerators that will run the loadgen. Consider a system with a small ARM core and an accelerator sharing HBM and connected to a laptop by a USB interface. I would still want to consider the bandwidth of the USB interface when determining the maximum throughput of the system.

There's a subtly here where I would like to confirm that there i

[2020-03-27 19:13] tjablin commented on #129
How about:

"The trace generated by LoadGen must be stored in the memory that most faithfully simulates queries arriving from the most logical source, which is usually the network, non-volatile storage, or I/O device such as a camera. It may be pinned.

Submitters must provide with their submission sufficient system architecture details to show how the input activation bandwidth utilized by each b

[2020-03-27 19:17] DilipSequeira commented on #129
Thanks - LGTM.

[2020-03-27 19:21] tjablin commented on #129
Are you confident this will work properly for SRAM only devices? Devices that enable DMAs from NICs  or SSDs to SRAMs?

[2020-03-28 00:01] DilipSequeira commented on #129
I think our goal should be to ensure that the MLPerf rules are reasonably reflective of the system bottlenecks that would exist in production, but don't impose other bottlenecks. So if people have a NIC to their SRAM and a way to receive queries that will sustain their claimed performance, that's something the MLPerf rules should allow.

I haven't thought through all the possible abuses, but I thi

[2020-04-02 19:02] tjablin opened #130 "Preview Software-Available Hardware?"
Presently, there's an asymmetry in the rules for how hardware and software are categorized for the purposes of determining whether a system is Available or Preview or RDO. The rules say:

If a Preview system contains a newly developed hardware component (e.g. a new ML accelerator) that is a substantial contributor to the determination of ML performance, then for that submission only, the “Availabl

[2020-04-03 22:20] DilipSequeira opened #131 "Accuracy Thresholds in Open"
Today there are no accuracy restrictions in Open, which in combination with accuracy not being in the results table allows for submissions that are bad both for comparability and MLPerf's credibility.

Proposals

(a) a tag for open division (similar to the "structured retraining" tag) that is "meets_accuracy" for models which meet the closed accuracy threshold (or more specific, if we have two thr

[2020-04-03 23:13] tjablin commented on #131
I think the proposal for a tag is very reasonable. If we are going to have a tag for Open submissions meeting the accuracy target, should we also have a tag for Open submissions meeting the latency target? I'd prefer having one accuracy target and one latency target per benchmark rather than having separate targets for Open and Closed. I think having two different targets will be confusing for the

[2020-04-04 00:03] DilipSequeira commented on #131
A latency tag sounds fine to me.

For part b... open should allow any accuracy a reasonable person might find interesting in a submission, given certain other properties - and we should err on the side of liberality. Absent the advisory groups, we could e.g. just take the minimum of what anyone in the working group thinks makes sense.

[2020-04-07 15:40] tjablin commented on #130
A lot of cell phone software is stuck with a yearly release cadence. Releasing a result on a Banana Phone 2019 on BOS 2019 and Banana Phone 2021 and BOS 2021 gives a false comparison between two related products.

[2020-04-07 18:49] DilipSequeira commented on #130
It would be helpful if people who are concretely limited by that could proposed an similarly narrow extension that would meet their needs without opening up Preview to unfinished software in general, which I think would be undesirable.

[2020-04-07 23:05] tjablin commented on #130
If you don't mind, I would like to table this discussion for MLPerf Inference 0.7 and then possibly revisit later.

[2020-06-15 22:56] DilipSequeira opened #132 "Limit maximum length of offline run"
For the question:

_Q: Is it permissible to exceed both the minimum number of queries and minimum time duration in a valid test run?_

Change:

_A: Yes._

To:

_A: for single stream, server and multistream there is no limit on the time duration. Offline must use a single query, and the minimum time duration may be exceeded by at most 10%._

MLPerf should not support amortizing away large constant-

[2020-06-15 23:04] tjablin commented on #132
I think the Offline scenario is supposed to capture asymptotic performance. Moreover, the timer for offline doesn't start until the SUT indicates it is ready to receive the first query. A real offline job might run for hours or days, a 60 second run might not be long enough to capture typical behavior.

[2020-06-16 17:55] christ1ne opened #133 "pre and post processing should be mathematically equivalent to the reference"
Currently there is no mathematical equivalence rule to the pre and post processing. We should add that to:
https://github.com/mlperf/inference_policies/blob/master/inference_rules.adoc#71-pre--and-post-processing

[2020-06-16 18:02] tjablin commented on #133
Everyone is allowed to do architecture specific pre-processing. For example padding or transposing the input. What sort of bad behavior are you trying to disallow?

[2020-06-27 18:16] TheKanter opened #134 "Update rules for inference v0.7"
We should update the inference rules to be consistent with what we agreed upon for v0.7

[2020-07-07 16:52] christ1ne commented on #134
1) BM / models / datasets list not current - Peter
2) the scenarios are not current - Peter
3) open - retraining rules link and wording missing - David
4) model equivalence section update (section 8) -  Dilip to file PR
5) mobile will be an independent update later, as a delta from the main inference rules.

[2020-07-08 23:59] christ1ne opened #137 "update server scenario wording for DLRM"
Please suggest some wording to update the section:https://github.com/mlperf/inference_policies/blob/master/inference_rules.adoc#3-scenarios
right now the server scenario has 1 sample per query (end of the section)

@mnaumovfb

Many thanks!

[2020-07-09 00:01] christ1ne commented on #112
closed with the re-training rules

[2020-07-09 00:01] #112 closed

[2020-07-09 03:48] mnaumovfb commented on #137
In the case of DLRM we have agreed that we should use multiple samples drawn from a distribution, similar to the one shown on Fig. 5: "Queries for personalized recommendation models" in the [DeepRecSys paper](https://arxiv.org/abs/2001.02772).

I would add the following background and specifications about it.
"The DLRM MLPerf inference code has an option to aggregate multiple consecutive samples t

[2020-07-09 23:52] christ1ne commented on #133
e.g. map all rare categorical values to a special ‘missing category’ value for DLRM

[2020-07-13 22:21] christ1ne commented on #134
@petermattson friendly reminder before meeting tomorrow!

[2020-07-14 16:07] TheKanter commented on #134
Also update FAQ to include DLRM embedding sorting Q&A.

[2020-07-14 16:45] christ1ne commented on #137
@christ1ne  to follow up

list the definition for samples in the rules.

DLRM: each sample can map up to 700 user-item pairs with custom distribution defined above.

[2020-07-14 16:45] christ1ne commented on #134
@DilipSequeira anything else?

[2020-07-14 17:52] christ1ne opened #139 "99% or 99.9% percent rule applied per FP32 model or min FP32 accuracy"
Let's decide if the rule is still for 99% and/or 99.9% at per model level or min. of all FP32 models per benchmark

[2020-07-16 22:00] #132 closed

[2020-07-16 22:04] christ1ne opened #140 "same SW or different SW allowed for different scenarios?"

[2020-07-16 22:13] DilipSequeira commented on #134
Created PRs for #128  and #129.

[2020-07-16 22:57] galv commented on #140
Original email thread: https://groups.google.com/d/msg/mlperf-inference-submitters/ZG7OxoTsR1E/w10yfu-lBAAJ

@TheKanter  brought up the question "What about changing RTL in FPGAs? Seems like it should be allowed."

My gut instinct tells me that, yes, changing software (including RTL) for different scenarios should be allowed. People who have programmed accelerators for a while have probably notice

[2020-07-16 23:35] DilipSequeira commented on #134
Also, did we ever resolve the density discussion: you should submit all benchmark/scenario combinations of which the SUT is capable?

[2020-07-20 23:55] christ1ne commented on #137
PR updated. @mnaumovfb

[2020-07-21 16:45] christ1ne commented on #129
This allows the some submitters to start the run with samples in the accelerator memory and allows building larger systems.  WG will come back to this issue next week.

[2020-07-21 16:48] christ1ne opened #145 "Is internal large cluster considered as available?"
Each chip is available but people cannot buy them to the cluster due to the cluster size.

[2020-07-21 16:54] tjablin commented on #145
The rules say for Available say:

For a sufficiently large cluster a lead time of 12 - 18 months might be reasonable.

[2020-07-21 17:00] aaronzhongii opened #146 "Is private cloud counted as "available""
[Here](https://www.alibabacloud.com/product/apsara-stack) is the introduction of Alibaba cloud apsara stack. Alibaba cloud provide apsara stack to enterprise/business customers for their special needs.

Contrast to Alibaba public cloud, there is no webpage for you to select, click and buy. The enterprise customers needs to work with Alibaba engineering team to select the hardware configuration, th

[2020-07-21 17:03] tjablin commented on #146
The rules for Available say:

[2020-07-21 17:10] aaronzhongii commented on #146
So as long as customer can rent the hardware through some efforts, just not restricted by "early access", it should be considered as available. Thanks for the answer.

[2020-07-21 17:11] tjablin commented on #133
I think that is already disallowed:

[2020-07-21 20:29] christ1ne commented on #129
@tjablin @DilipSequeira can you share the deployment use cases for this change proposal?

[2020-07-21 20:47] DilipSequeira commented on #129
For NVIDIA... our GPUs have a capability called GPUDirect (https://developer.nvidia.com/gpudirect) which enables the CPU to schedule data transfer direct from network or storage to accelerator memory. The relevant production use case is to deliver query data directly to the accelerator for inference  (which would typically also involve some preprocessing, also running on the GPU), thereby avoiding

[2020-07-28 15:34] christ1ne opened #147 "does open division need to share source code or just the binary?"
This is for the case when people may not want to share the graph optimization technique. Question from Frank/Alibaba.

[2020-07-28 16:06] #137 closed

[2020-07-28 16:07] tjablin commented on #147
The rules say:

There's a distinction between the benchmark implementation and the framework. The framework is stuff like compilers, drivers, and runtimes that are provided as binary artifacts to end-users.

[2020-07-28 16:23] TheKanter commented on #129
Closed pending Dilip's rule pull request.

[2020-07-28 16:23] #129 closed

[2020-07-28 16:28] tjablin commented on #139
The potential choices are min, average, max, or per model.

[2020-07-28 16:35] TheKanter commented on #139
This was primarily motivated by SSD-ResNet where PyTorch/TF/ONNX accuracies are different. The solution is contained in C++ code in https://meet.google.com/linkredirect?authuser=0&dest=https%3A%2F%2Fgithub.com%2Fmlperf%2Finference%2Fpull%2F659

This needs to be fixed at the benchmark in v0.8.

[2020-07-28 16:37] TheKanter commented on #139
Delay issues to v0.8

[2020-07-28 16:37] TheKanter commented on #128
Approved per 2020.07.28 WG meeting.

[2020-07-28 16:37] #128 closed

[2020-07-28 16:41] TheKanter commented on #140
WG agrees that different implementations of models for different scenarios is allowed based on rules about different implementations for different inputs. Will update rules accordingly.

[2020-07-28 16:41] #140 closed

[2020-07-28 16:43] psyhtest commented on #139
It's likely to be fixed by reimplementing SSD-ResNet.

[2020-07-28 16:55] TheKanter commented on #147
Clarified in WG:

1. In open division, you can freely modify the model as long as you meet the scenario requirements.
2. In open division, you must share the modified/resulting model.

[2020-07-28 16:55] #147 closed

[2020-07-28 17:01] TheKanter commented on #146
1. Apsara is currently in production with many customers
2. Access is for 'private cloud' customers only
3. Private cloud customers is about commitment of $, and generally open to everyone

Accordingly WG determines this is fine.

[2020-07-28 17:01] #146 closed

[2020-07-28 17:02] TheKanter commented on #145
WG agrees this is OK.

[2020-07-28 17:02] #145 closed

[2020-07-29 21:05] frank-wei commented on #147
@TheKanter can we document this into the rules.
One more thing to clarify, in Open division, the submitter can choose to submit any scenario or not?

[2020-08-03 17:52] psyhtest opened #150 "Reducing the burden of Edge submitters"
From the v0.7 round, each Edge submission must provide results for the SingleStream and Offline scenarios. It can be a huge burden for Edge submitters where the inference time can be in the order of seconds. For example, dividiti's v0.5 submission of [ResNet via TFLite on Raspberry Pi 4](https://github.com/mlperf/inference_results_v0.5/blob/master/closed/dividiti/results/rpi4-tflite-v1.15/resnet/s

[2020-08-03 17:59] psyhtest opened #151 "Required scenarios for the Open division"
From the v0.7 round, most benchmarks in the Datacenter suite require the Server and Offline scenarios, and all benchmarks in the Edge suite require the SingleStream and Offline scenarios. Is the same also true for the Open division?

For example, is it valid to submit to the Open division only a SingleStream result for a non-ResNet50 Image Classification workload?

As another example, does a submi

[2020-08-03 19:27] DilipSequeira opened #152 "Prior approval to place queries in device memory"
NVIDIA seeks prior approval to place query samples in device memory. In an optimized implementation we expect suitably advanced customers to leverage [GPUDirect](https://developer.nvidia.com/gpudirect) to avoid transfers through host DRAM. We will provide system architecture details and relevant performance information in our submission.

Available software for GPUDirect:

- [GPUDirect Video](http

[2020-08-03 20:26] tjablin commented on #152
LGTM. I'm surprised you don't have a GPUDirect NIC example.

[2020-08-03 22:18] christ1ne commented on #152
Is this for data center or edge or both? Thanks! @DilipSequeira

[2020-08-04 00:13] DilipSequeira commented on #152
@christ1ne both data center and edge potentially.

[2020-08-04 01:38] DilipSequeira commented on #151
My understanding (and I think the general understanding) is that on open, any combination of scenarios can be submitted. It's missing from the rules though.

@psyhtest I imagine if you had a PR to that effect, it might be something the working group could quickly close out.

[2020-08-04 10:08] psyhtest commented on #150
This is especially worrying if the random seeds are again going to be distributed only 1 week before the deadline as per the [submission rules](https://github.com/mlperf/policies/blob/master/submission_rules.adoc#42-single-submission-round-schedule).

[2020-08-04 10:12] psyhtest opened #153 "Random seeds distribution timeline"
[Currently](https://github.com/mlperf/policies/blob/master/submission_rules.adoc#42-single-submission-round-schedule), the random seeds for are to be distributed only 1 week before the deadline. What if my SUT is available to me now, but is not going to be available then? A similar problem arises if runs are expected to take several days (as may well be the case for Edge submissions: https://githu

[2020-08-04 10:54] psyhtest commented on #151
Thanks @DilipSequeira. Here it comes: https://github.com/mlperf/inference_policies/pull/154

[2020-08-04 15:32] guschmue opened #155 "qsl sizes are not specified for the new models"
https://github.com/mlperf/inference_policies/blob/master/inference_rules.adoc#41-benchmarks

[2020-08-04 16:58] TheKanter commented on #152
Approved by working group.

[2020-08-04 16:58] #152 closed

[2020-08-10 19:26] galv opened #158 "Post-processing does not currently allow for using different integer dtypes in classification problems than the reference model"
This was brought up here https://github.com/mlperf/inference/pull/676/files#diff-5ec4194b82d11de403290895677b5c88R41 by @nvzhihanj

@nvzhihanj proposed allowing the RNN-T model (which is a sequential classification task, so it outputs a single integer ID at each time step) to output int8, int16, int32, or int64, instead of just int64, which is what the reference pytorch model uses. Since there are

[2020-08-10 19:30] tjablin commented on #158
This seems reasonable, but I would rather add it to Section 8.2. The point is that activations can use arbitrary precision. It's really about pre- or post-processing, per se.

[2020-08-10 19:33] galv commented on #158
Yes, section 8.2 makes more sense. Thank you.

I assume you meant to write "It's _not_ really about pre- or post-processing, per se."

[2020-08-10 19:34] tjablin commented on #158
Yeah. Sorry. Edited.

[2020-08-11 16:40] christ1ne commented on #158
May reduce the precision of classification outputs and/or activations .. @tjablin will update a PR in the rules.

[2020-08-11 16:46] tjablin commented on #158
https://github.com/mlperf/inference_policies/pull/159

[2020-08-11 16:52] galv commented on #158
Thanks @tjablin

[2020-08-11 16:52] #158 closed

[2020-08-12 14:37] guschmue commented on #151
We'd need to change this table in the rules doc:
https://github.com/mlperf/inference_policies/blob/master/inference_rules.adoc#41-benchmarks
Each **Edge** benchmark requires the following scenarios: SingleStream, Offline

[2020-08-18 16:27] christ1ne commented on #153
WG: we will move this to 2 weeks. @psyhtest please update with a PR and I will merge it later.

[2020-08-18 16:30] christ1ne commented on #153
pick a irrational number and multiply it with a multiple of 2 -- currently assign to @TheKanter

[2020-08-18 16:45] christ1ne commented on #151
we updated the rules

[2020-08-18 16:45] #151 closed

[2020-08-18 16:45] christ1ne commented on #155
we updated the rules

[2020-08-18 16:45] #155 closed

[2020-08-18 16:47] christ1ne commented on #134
both closed

This is also clarified in the rules

[2020-08-18 16:47] #134 closed

[2020-08-18 16:51] tjablin commented on #153
Suggestion procedure for David:

1. Go to https://www.random.org/bytes/
2. Set number of bytes to 8.
3. Set format to hex.
4. Press "Get Bytes"
5. Record seed.
6. Repeat 3x

[2020-08-21 15:27] mthmsn opened #163 "Approved loadgen commit SHAs for submission"
For inference v0.5, there were specific git commit SHAs that were approved for submission use. What are the blessed SHAs for v0.7? Is it any commit SHA after a specific date (e.g., any commit after the code freeze date in the schedule)?

I looked around a bit and can't find these SHAs listed anywhere yet.

[2020-08-25 15:46] psyhtest commented on #153
Ah, as we have 3 seeds, should we rephrase the rules (seed -> seeds)?

[2020-08-30 12:40] psyhtest opened #165 "Clarify which LoadGen log files are optional"
I believe including `mlperf_log_trace.json` was optional for v0.5. It was only included 156 times:
[code]

Also, `mlperf_log_accuracy.json` was optional for performance runs (as empty anyway).

Any other examples?

We should clarify this in the rules.

[2020-08-31 18:57] christ1ne commented on #150
another idea: consider re-use of accuracy log provided if the model weights used in inference are the identical across different scenarios for all submission categories.   @aaronzhongii will that help you?

[2020-08-31 18:57] #133 closed

[2020-08-31 18:59] christ1ne commented on #131
updated the latest rules about the open category. Please reopen if needed. https://github.com/mlperf/inference_policies/blob/master/inference_rules.adoc#412-relaxed-constraints-for-the-open-division

[2020-08-31 18:59] #131 closed

[2020-08-31 19:00] #127 closed

[2020-08-31 19:01] #153 closed

[2020-08-31 19:02] christ1ne commented on #165
@guschmue  can submission rules be the source of truth in this?

[2020-08-31 19:09] guschmue commented on #165
sure, we can make it optional. I think it was required in v0.5 but we did allow for errors from the checker.

[2020-08-31 19:14] christ1ne opened #166 "Tail latency for Server/MS scenarios are outdated in the inference rules."
The updated info for v0.7 is at:
https://docs.google.com/presentation/d/1urn23orVQq5Z5Jz8ZJf_o1dASlhIWDSLYi2fyuEY4hw/edit#slide=id.g8aa93609e1_0_0

Currently the rule says:
99% for image models and 97% for otherwise
https://github.com/mlperf/inference_policies/blob/master/inference_rules.adoc#3-scenarios

A rule update is needed.

[2020-08-31 19:35] aaronzhongii commented on #150
I guess i am ok. But you probably want to ask @psyhtest right?

[2020-09-01 14:23] psyhtest commented on #166
It appears that the minimum number of queries should also be updated to 270,336.

[2020-09-01 14:25] psyhtest commented on #165
`mlperf_log_accuracy.json` can be optional for the performance mode, but not for the accuracy mode. `mlperf_log_trace.json` can be optional for both modes.

[2020-09-01 14:28] guschmue commented on #165
yes, that is what the PR is doing.

[2020-09-01 14:31] psyhtest commented on #150
:))

In the above, I assumed that the weights indeed would be identical.

[2020-09-01 16:50] nvpohanh commented on #165
This will be fixed by https://github.com/mlperf/policies/pull/53

[2020-09-01 16:50] #165 closed

[2020-09-01 16:52] TheKanter commented on #163
DK to do with  Guenther assistance on 9/4.

[2020-09-01 17:02] TheKanter commented on #150
Group agrees that an implied offline and multi-stream score may be computed, based on a valid single stream submission. Rules must be updated to reflect this.

[2020-09-08 16:32] #166 closed

[2020-09-08 16:33] christ1ne commented on #163
mlperf.conf updated at mater.

[2020-09-08 16:33] #163 closed

[2020-09-10 11:17] psyhtest opened #170 "The submission checklist must be updated (or made optional)"
[submission_checklist.md](https://github.com/mlperf/inference_policies/blob/master/submission_checklist.md) has not been updated for v0.7. Moreover, the [relevant subsection](https://github.com/mlperf/policies/blob/master/submission_rules.adoc#submission-checklist) of the submission rules is empty.

[2020-09-11 00:15] mthmsn commented on #170
Thanks for posting this, I was just about to submit the same issue.

New submitters will be unaware of the `submission_checklist` relic. It definitely adds to the tedium of the submission process. The checklist itself is somewhat confusing and does not add any new information that isn't already available in the other submission files, other than the names of the engineers who "certify" the submiss

[2020-09-11 00:27] tjablin commented on #170
Some of the compliance questions are still useful, I think.

[2020-09-11 00:37] tjablin commented on #170
I updated to 0.7. Many of the questions are no longer necessary with the new submission checker scripts. I think the remaining questions are still useful.

[2020-09-11 18:59] christ1ne opened #187 "exact text for closed division server latency not met"
Let's finalize on the text in the result table for entries with server result not met:

options:
1. N/A
2. latency not met
3. not supported

Let's add to the rules once finalized. Please propose additional text options before the next meeting 9/15.

Best,
Christine

[2020-09-15 18:07] #170 closed

[2020-09-17 18:04] TheKanter opened #178 "Definition of "random" for audit"
1. Audit group recommends that the random audit be determined before the 'strategic'/'interesting' audit.

A. How do we determine the scope of random audit. E.g., do we randomly select (1) a submitting organization and then random a submission by the submitter, (2) a submission, (3) a unique HW/SW combo, or (4) a member of the review committee.

B. Audit group suspects that some submissions may us

[2020-10-20 23:15] christ1ne opened #183 "inference benchmark carrying capacity and change limit"
8 benchmarks in total or 8 benchmarks for datacenter or edge each?
Add a maximum of 2 benchmarks additions to the suite per submission round?

[2020-10-23 17:44] DilipSequeira opened #184 "Timed preprocessing"
For the March '21 round (1.0?) we would like to see consideration of more timed preprocessing in the datacenter scenarios. specifically for the image models and for 3D-UNet. For edge, it makes sense that the submitter gets to choose the format because it's often coming in from a camera pipeline, but for datacenter it will typically be some form of compressed data (e.g. jpeg).

Let's discuss in the

[2020-10-27 16:12] tjablin commented on #184
I am broadly supportive of this change. In a perfect world, we would do this at the same time we switch to loadgen-over-network, but I don't think we have time this round for loadgen-over-network. For consistency, should we time all pre-processing?

[2020-10-27 16:49] #183 closed

[2020-10-27 17:06] christ1ne commented on #184
**Proposal:**
- For datacenter only & for R50, SSD-R34 and 3D UNET: input is now jpeg images, output is the same as before.

[2020-11-02 19:59] christ1ne commented on #178
added to rules

[2020-11-02 19:59] #178 closed

[2020-11-02 20:00] christ1ne commented on #150
have we updated the rules on this @psyhtest ?

[2020-11-02 20:01] christ1ne commented on #92
please re-open if needed

[2020-11-02 20:01] #92 closed

[2020-11-02 20:02] #111 closed

[2020-11-03 14:15] psyhtest commented on #150
Sorry, not yet. I'll try to formalise the rule change by next week.

[2020-11-03 17:00] TheKanter commented on #184
WG comments:

This is for data center only, under the theory that data center inputs are usually compressed. OTOH, edge inputs are often raw.

Also, pre-processing should be added to all benchmarks (already present in RNN-T, none needed in many other benchmarks).

This is a good topic for more discussion.

[2020-11-03 17:04] aaronzhongii commented on #184
As Scott pointed it, this is unfair for inference only chip vendors. It's really hard to interpret a result with third party image decompressor playing huge role if preprocessing is timed. Only GPU have the compatibility to handle both at the same time, so if MLPerf promote this, does this mean MLPerf WG prefer GPU over inference only chips?

[2020-11-03 17:05] christ1ne commented on #184
- need to consider if that will further narrow the pool of potential submitters
- better to get use case from the vision advisory board
- will hear from David's survey on the v0.7 submitters and non-submitters

[2020-11-03 17:18] tjablin commented on #184
MLPerf ought to reward good designs. Image decompression is an important part of inference for many workloads. It is appropriate that better architectures with more capabilities have higher performance as measured by MLPerf.

The only performance that benefits customers is end-to-end performance. If a chip is decompression limited, it is misleading to publish numbers that ignore this limitation. M

[2020-11-03 17:37] christ1ne commented on #150
WG: we will review the updated PR next week.

[2020-11-03 17:38] christ1ne commented on #139
WG: the current proposal is still using min FP32 accuracy. Let's discuss and finalize next week.

[2020-11-04 18:39] #124 closed

[2020-11-04 18:42] christ1ne commented on #115
dup of #184

[2020-11-04 18:42] #115 closed

[2020-11-10 17:10] christ1ne commented on #184
WG: will update with survey results next week.

[2020-11-17 17:06] christ1ne commented on #150
@psyhtest any update?

[2020-11-17 17:16] psyhtest commented on #150
@christ1ne Let me just double check what @tjablin had in mind in [his review comment](vhttps://github.com/mlperf/inference_policies/pull/168#discussion_r520741235).

[2020-11-17 18:01] christ1ne commented on #184
@TheKanter  will follow up on data center specific submitters.

[2020-11-17 18:16] #187 closed

[2020-11-17 18:23] tjablin opened #188 "Loadgen queries over network"
Explore injecting loadgen queries over the network

[2020-11-17 18:24] christ1ne opened #189 "Out-of-box division discussion placeholder"
We will discuss after ML Commons Launch.

[2020-11-20 19:37] christ1ne commented on #90
@psyhtest we can revisit the requirements for the next round. Please file a specific rule change request if needed.

[2020-11-20 19:37] #90 closed

[2020-11-20 19:37] christ1ne commented on #110
@DilipSequeira feel free to close this issue if it has been addressed, or update with an PR.

[2020-11-20 19:38] christ1ne commented on #50
@DilipSequeira I am adding this to the backlog.

[2020-11-20 19:39] #48 closed

[2020-11-20 19:41] christ1ne commented on #130
closing this due to lack of activity. Please re-open if needed.

[2020-11-20 19:41] #130 closed

[2020-11-20 19:43] christ1ne commented on #109
we should be ok now as the submission checker reports the scores

[2020-11-20 19:43] #109 closed

[2020-11-20 20:14] #110 closed

[2020-11-30 23:54] tjablin commented on #184
I think we are out of time to land this for 1.0. I propose merging with Loadgen over network and aim for Inference 1.1. Dilip, what do you think?

[2020-12-01 00:05] DilipSequeira commented on #184
Agreed on all counts.

[2020-12-14 19:26] christ1ne commented on #150
@psyhtest is the PR ready?

[2020-12-14 19:30] christ1ne opened #190 "add a column of self-reported precision/numerics to MLPerf results"
Currently there is no easy way for the table users to tell whether it is a FP32, INT8 or other numerical being used.
This essentially discourages any FP32 submission but most inference are still in FP32. Adding the numerics will help the users to further determine the relevance of the results to their needs.

@tjablin @DilipSequeira FYI.

[2020-12-15 05:51] alphaRGB opened #191 "Fused about QSL"
I am fused about **QSL**,  I have noticed there is explaination about **QSL** in README:   For performance runs, the LoadGen will select queries uniformly at random (with replacement) from a test set. The minimum size of the performance test set for each benchmark is listed as 'QSL Size' in the table above.

Here is my question:
* QSL is short for what?  it is Query Sample Length ??
* What QSL eff

[2020-12-15 17:47] christ1ne commented on #190
WG:
- concerns: self-reporting will lead to messy outcome
- objective should be define the efforts required to produce this result
- please add your thoughts offline to this issue. we will discuss again in Jan, 2021.

[2021-01-19 16:31] christ1ne commented on #191
you can learn more about QSL in the loadgen source code at:
https://github.com/mlcommons/inference/blob/master/loadgen/loadgen.cc#L1542

[2021-01-19 18:20] christ1ne commented on #190
WG: need a specific example AR: @christ1ne

[2021-01-19 18:25] christ1ne commented on #139
WG: there is no change to the accuracy threshold in v1.0.

[2021-01-19 18:25] #139 closed

[2021-01-19 18:29] christ1ne commented on #126
@christ1ne to check the status of the both models.
WG: not an issue anymore since the model conversion script is working.
@aaronzhongii can you share the script link?

Thanks!

[2021-01-19 18:33] aaronzhongii commented on #126
The link to the nchw to nhwc conversion script

[2021-01-25 17:41] christ1ne commented on #191
please re-open if needed

[2021-01-25 17:41] #191 closed

[2021-01-25 17:43] christ1ne commented on #190
[precision_example.xlsx](https://github.com/mlcommons/inference_policies/files/5868435/precision_example.xlsx)
@DilipSequeira please let me know what you think? This data is already reported in the json in the measurement directories

[2021-01-25 21:03] DilipSequeira commented on #190
The format looks reasonable (I would slightly prefer colors to postfix characters but I expect there are UI accessibility concerns.)
A larger problem is having rules for transforming from what is essentially a freeform text field (a submitter could reasonably write there e.g. "INT8/BF16" if they're using mixed-precision) to a precision annotation. How would we handle that case?

[2021-01-26 15:11] psyhtest commented on #150
#168 should be ready to go!

[2021-01-26 17:06] christ1ne commented on #190
We allow all numerics but we should have a good list to take care of different capitalization, naming nuances.

[2021-01-26 17:18] christ1ne commented on #190
WG:
concerns:
1. symbols are hard to work with in a numerics table.
2. The list of precision choices could be hard to determine. -> we can defer the list of precision choices to the review period

However the WG think we should do this and we will find a UI solution in the review period. Possibly a different view of the results table in a different link.

[2021-01-26 17:34] #150 closed

[2021-01-26 18:09] christ1ne commented on #126
closing this issue as we have a working conversion script

[2021-01-26 18:09] #126 closed

[2021-02-02 17:47] christ1ne opened #196 "update power rules to show it's MLC members only"

[2021-02-02 18:08] christ1ne commented on #116
WG agrees a single data center division is good for now.

[2021-02-02 18:08] #116 closed

[2021-02-02 18:09] christ1ne commented on #50
WG: submitters can choose their own accuracy target in Open.

[2021-02-02 18:09] #50 closed

[2021-02-06 01:16] tjablin opened #197 "Memory Mapped Buffers"
Consider a batch one inference system where input activations are mapped in host DRAM are mapped into the device's address space on demand using an ioctl. The device driver is optimized for the case where a single buffer is reused for many inferences. In order to avoid unnecessary ioctl's, the device driver checks if the buffer is already mapped, skipping the ioctl for the common case of buffer re

[2021-02-08 16:55] DilipSequeira commented on #197
I agree. This class of system programming optimizations apply to generic (broader than ML) accelerators, and it would be counterproductive to exclude them.

[2021-02-20 02:28] haowang5128 opened #201 "Benchmark duration is inconsistent with official website"
Hi,
I was checking the https://mlcommons.org/en/inference-edge-07/ page , and found the duration requirement is '60s' which is inconsistent with https://github.com/mlcommons/inference_policies/blob/master/inference_rules.adoc#3-scenarios (600s).

[2021-02-20 02:48] tjablin commented on #201
The web page you link is for MLPerf Inference 0.7. The rules have been updated for MLPerf Inference 1.0. The minimum duration increased from one to ten minutes between 0.7 and 1.0.

[2021-02-20 03:50] haowang5128 commented on #201
Oh,I see now. Thank you!

[2021-02-20 04:32] #201 closed

[2021-02-27 03:24] TheKanter commented on #196
Done. It's in the FAQ for the rules.

[2021-02-27 03:24] #196 closed

[2021-04-09 00:33] tjablin opened #212 "Make it clear whether high and low accuracy are both required or optional"
The rules are somewhat unclear we ought to fix.

[2021-04-21 01:25] DilipSequeira opened #213 "Does end_on_device make sense?"
The rationale for start_from_device is that submissions should not need to incur the overhead of transfer from system DRAM if there is a mechanism whereby network can be delivered directly into accelerator memory.

Is end_on_device symmetric in this regard - e.g. submitters should not have to incur an overhead for transfer to system DRAM if the accelerator has this capability?

@tjablin opinion?

[2021-04-21 01:55] tjablin commented on #213
Thinking about real applications, start_on_device makes sense because you can imagine streaming images or text or other inputs directly from the network in a real application. There's some subtlety in that real application would probably stream compressed images and decompression might have use the CPU. For end_on_device to make sense, there would have to be real applications were the output of an

[2021-04-21 02:04] DilipSequeira commented on #213
I agree inference is rarely the last pipeline step. However, if your accelerator is a general purpose programmable device, it's realistic for it to run post-processing too - for example, in the current proposal for 3D UNet where overlapping 128x128x128 tiles are recombined into a full segmented image, that would best be done on the accelerator. (This is mainly an issue for segmentation workloads,

[2021-04-21 03:43] tjablin commented on #213
For 3D-UNet, didn't we agree that the server case made no sense, that's why it is offline only? I think the start_on_device rule is getting unwieldy to enforce. We should just move to injecting queries over the network, then submitters that implement NIC to accelerator DMAs will be able to measure the benefit directory.

[2021-04-21 06:00] DilipSequeira commented on #213
The timeline for getting that into 1.1 seems quite short, given there's no proposal yet.

[2021-04-21 23:11] DilipSequeira commented on #213
And regarding 3DUNet not being in server... that's correct, but latency is still relevant for 3DUNet in Edge Single Stream.

[2021-04-22 11:16] tjablin commented on #213
Is this issue 3D-UNet specific?

[2021-04-22 16:02] DilipSequeira commented on #213
It's significant only for benchmarks where the output size is large. Today, that's only segmentation.

[2021-04-24 00:15] tjablin commented on #213
Can we get an opinion from the medical advisory board?

[2021-04-24 00:57] DilipSequeira commented on #213
I'm sure we can, but what are we looking for, and how would we act on it?

MLPerf has, historically, set some fairly arbitrary bounds on the timed portion of the benchmark. One thing we could meaningfully ask is for them to suggest what should be timed, and then address the question "what does the post- processing after the timed portion look like for this model?"

Then there are three cases:

1.

[2021-04-26 15:53] tjablin commented on #213
Do we need to make a rule? We should just add the post-processing to the benchmark. Then submitters can implement the post-processing on the host or device depending on the capabilities of their system.

[2021-04-26 16:18] DilipSequeira commented on #213
That would be my preference regardless of this question. Does that mean we should assume the answer is (1) above?

[2021-04-26 16:50] tjablin commented on #213
I think we should ask the Medical Advisory Board:

1. What does the post-processing after the timed portion look like for this model?
2. What typically happens to the inference results for 3D-Unet? Are they sent to the screen, network, storage, or somewhere else?

My current thinking is that end_on_host is probably appropriate for 3D-UNet if we add timed post-processing, but I would like to have c

[2021-05-06 21:22] alexkarargyris commented on #213
For clarification purposes I want to share here (thanks @PabloRibalta) what the current reference implementation for 3D-Unet in the Training Benchmark is:
1. Get a scan (3D image) at certain resolution
2. Resample to a common voxel spacing
3. Pad every volume so it is equal or larger than 128
4. Crop volumes so they are divisible by 64
5. If a given edge length modulo 64 is larger than 32 it is co

[2021-05-07 03:22] DilipSequeira opened #216 "Allow or Disallow Tile Size Hyperparameter in 3DUNet"
From Alex in https://github.com/mlcommons/inference_policies/issues/213:

_We believe that steps 1-5 should not count against benchmark time and steps 6-8 could be left to the submitters to optimize (i.e. change the tile size) as long as they meet the expected accuracy or above. Indeed step 8 can probably take place on an accelerator. However it is to my understanding that the Inference closed div

[2021-05-07 03:23] DilipSequeira commented on #213
The hyperparameter question is somewhat off-topic here: I've opened a new issue https://github.com/mlcommons/inference_policies/issues/216

[2021-05-07 16:39] tjablin commented on #216
I'm not sure the beam width decision is good precedent. Changing beam width radically alters the total amount of work the program does. Altering tile size keeps work more or less constant. Is allowing variable tile-size really so harmful? I can imagine that different submitters would prefer different tile sizes based on the width of their matrix-multiply hardware and the size of their caches and s

[2021-05-07 16:47] DilipSequeira commented on #216
With some reasonable restrictions, I don't think variable tile size is harmful per se.

The larger question is whether the WG wants to take on the complexity of hyperparameters.
* review is arguably complicated enough without hyperparameter borrowing
* I would not be surprised to see QAT weight contributions that work for a given set of hyperparameters but don't generalize
* If model equivalence a

[2021-05-07 17:13] DilipSequeira commented on #216
The code that slices and combines is a function of network size - that's why there's currently one tile size that works best from an accuracy perspective. So if I were QAT'ing this, I might do it with the hyperparameter combination at which I was going to run, using the post-recombination loss.

Even in this case, there are potentially a lot of viable combinations - many accelerators are efficient

[2021-05-11 17:55] fjtabaru opened #217 "Submitters summaries"
This may not be suitable for discussion here.

In MLPerf HPC v0.7, the summary from each institute is uploaded as submitter_summaries.adoc in https://github.com/mlcommons/hpc_results_v0.7.
In inference v1.0, The same kind of document was written as “MLPerf™ Inference 1.0 Results Discussion”.
Is there any problem if we put it in the inference github at https://github.com/mlcommons/inference_results

[2021-05-12 02:20] DilipSequeira commented on #216
Would you be willing to consider using a cubic tile size and then batching tiles for optimal sizing?

[2021-05-13 05:56] rnaidu02 commented on #216
@DilipSequeira  The batching option you suggested is same as the original proposal. Per my understanding, batching option requires cubic tiles to have overlap and requires 3x of 128x128x128 to cover area of 256x128x128. The compute will be 1.5x of the required as you need cubic tiles with a stride of 64. We should let the slice to be dynamic as long as the inference meets the desired accuracy targ

[2021-05-17 16:03] DilipSequeira commented on #216
@rnaidu02 the original proposal allows no variation in tile size. So what I'm asking is not the same.

We share an understanding that allowing variation in tile size will allow submitters to produce more efficient implementations, and also that it would be reasonable thing to do in production.

The tradeoff is the additional complexity for MLPerf - e.g. if every submitter chooses a different tile

[2021-05-18 05:04] rnaidu02 commented on #216
@DilipSequeira May be I misunderstood your proposal. As an alternative to a tile size of 256x128x128 your proposal allow 3 overlapping tiles of 128x128x128 with a stride of 64 right?

We looked at the sizes of image scans from Kits19 and found that the image sizes are of Nx512x512 where N varies from 34 to 683 from a small sample of images from the data set. Based on this observation, our proposal

[2021-05-18 06:20] DilipSequeira commented on #216
Correct.

It's not obvious to me why 128x128x512 isn't valid tile size in your proposal - can you elaborate on that?

Thanks for defining a smaller set; I'm not sure how to evaluate the tradeoff between this smaller one and the earlier one (128 x powers of 2 on all axes) which seems to me more natural.

In any case, if we're going to have tile hyperparameters, I suggest we also allow untiled.

[2021-05-18 16:11] tjablin commented on #216
This is kind of pedantic, but I don't think "tile size" is a hyperparameter per se. A hyperparameter is a parameter whose value is used to control the learning process. Tile size doesn't control the learning process.

[2021-05-18 16:42] rnaidu02 opened #220 "Guidelines for Audit"

[2021-05-21 15:49] DilipSequeira commented on #216
Pablo did some experiments on accuracy vs tile size.

![Accuracy vs Tile Size](https://user-images.githubusercontent.com/8258612/119164336-2ac9a300-ba11-11eb-8bbc-43c311be294a.PNG)

[2021-05-21 15:56] tjablin commented on #216
Thanks for the results! Can you give more details about how these experiments were run? Is this the result of retraining the model for each tile size or reusing the weights from 128^3? What sort of numerics were used?

[2021-05-21 16:32] tjablin commented on #216
How does accuracy at 128^3 at FP32 compare with FP16?

[2021-05-21 16:35] DilipSequeira commented on #216
It's a different dataset, so the accuracies aren't comparable.

[2021-05-21 18:50] pribalta commented on #216
@tjablin The model is trained by using sub-volumes of 128^3 dimensions, as this is the way it was prescribed in the original paper and that we follow in the MLPerf Training benchmark. Since the model is fully convolutional, once it's trained it can be applied seamlessly to infer over volumes of different dimensions. For reference, in the previous edition we were also training using 128^3 cubes, bu

[2021-05-25 06:10] rnaidu02 commented on #216
Thank you Pablo and Dilip for your explanation and the effort to run inference under different tile sizes to measure the accuracy. @pribalta I have few questions. When you run inference using 160^3 tile size, did you use a stride of 80 pixels (half the size of tile size)? With the existing code can you run inference on whole image of 192x384x384 instead of using cubic tiles - in this case do you e

[2021-06-23 06:01] kstreee-furiosa commented on #139
Hi all, any updates here? will it be the same in v1.1?

[2021-06-23 22:40] dylanzika-google opened #223 "ML Perf Mobile Closed Rules Clarification - Object Detection and Image Segmentation"
<meta charset="utf-8"><b style="font-weight:normal;" id="docs-internal-guid-57def3f7-7fff-cb17-610f-8510a50993c2"><h2 dir="ltr" style="line-height:1.38;margin-top:18pt;margin-bottom:6pt;"><span style="font-size:16pt;font-family:'Google Sans',sans-serif;color:#ea4335;background-color:transparent;font-weight:400;font-style:normal;font-variant:normal;text-decoration:none;vertical-align:baseline;white

[2021-06-23 23:04] willc2010 commented on #223
plus folks to review and comment.

[2021-06-23 23:07] dylanzika-google commented on #223
Notes From ML Commons Mobile Working Group Discussion on June 23 2021

1 - Object Detection NMS may not be allowed in closed division (60% certain that is not allowed in closed -DK)
In ML Perf 1.0 - We wanted to avoid getting gains from Hyper Parameter Searching on NMS.
Open Division could be allowed.

2 - Did not discuss during meeting

[2021-06-24 19:05] Mostelk commented on #223
Here are my own opinions:
1) There are many NMS variants available, and also within same NMS algorithm one can tradeoff computational complexity with accuracy. Hence if NMS algorithm or its hyperparameters are allowed to change, once can tradeoff the complexity/accuracy of their NMS algorithm with the complexity/accuracy of their network, so it will not be a consistent benchmark for closed divisio

[2021-06-25 06:12] freedomtan commented on #223
That's a bit tricky. Considering that those are not mathematically equivalent and there is reduction of computation (512x512 argmax over 32 classes --> 128x128 argmax over 32x32 classes, which means 1/16 computation complexity)

[2021-06-30 05:38] rnchukka commented on #139
Since we passed the Inference freeze deadline, I assume the rule will remain the same. Adding @guschmue @tjablin for comments.

[2021-07-12 00:28] rnaidu02 commented on #216
On 6/8/2021, WG agreed to have tile size of 128x128x128 with a stride of 64 for 3D-UNet inference with KITS19 dataset.

[2021-07-12 00:28] #216 closed

[2021-08-03 00:46] DilipSequeira opened #224 "Definition of "component""
Nvidia is considering entering a submission with a standard GPU that includes custom VBIOS that would not be available to customers. It is consistent with the rules of Closed division, and we think this is consistent with intent of Closed RDI.

We want to confirm with the WG that a custom VBIOS counts as a separate component under RDI rules, as the RDI rules state: "The RDI components may not be s

[2021-08-03 15:41] tjablin commented on #224
I think that's correct.

[2021-08-03 15:53] rnaidu02 commented on #224
WG agreed

[2021-08-03 15:53] #224 closed

[2021-10-05 05:03] rnaidu02 opened #228 "Available software rules clarification"
In the [available systems definition](https://github.com/mlcommons/policies/blob/master/submission_rules.adoc#731-available-systems) of inference policies, here is the snippet of the definition

"_Available systems must use an Available software stack. A software stack consists of the set of software components that **substantially** determine ML performance but are not in the uploaded source code

[2021-11-02 16:52] rnaidu02 commented on #223
@willc2010 is this resolved?

[2021-11-02 16:55] rnaidu02 commented on #217
@rnaidu02  Add this topic to inference WG meeting next week.

[2021-11-09 02:41] rnaidu02 commented on #223
Checked with Mobile WG and @dylanzika-google and this issue can be closed.

[2021-11-09 02:41] #223 closed

[2022-01-08 10:14] psyhtest commented on #220
I know this has been pending a long time, my apologies. I was going to write this up after finalising the v1.1 process. Unfortunately, I'm still waiting for the auditor to submit his report to MLCommons.

[2022-03-02 22:56] TheKanter opened #238 "Fix MLPerf Inference compatibility table"
This table might need fixing? https://drive.google.com/file/d/1Dbz_jG4RMuB4Fugw_GWYV1gOw6P-MBpp/view

[2022-03-22 02:38] rnaidu02 commented on #238
@TheKanter  @tjablin What is the fix for Inference table? It looks good to me.

[2022-03-22 18:24] TheKanter commented on #238
Need to figure out if run time  minimum change to 10 minutes breaks compatibility and anything else.

[2022-03-22 18:24] TheKanter commented on #238
https://docs.google.com/spreadsheets/d/1YInL5rf-iU8CaVloVwKdU0XdrxcmhSNH2s1KlnBnCgQ/edit#gid=0 This document has pending updates and is only accessible to chairs, etc.

[2022-04-04 22:37] rnaidu02 commented on #238
Updated

[2022-04-04 22:37] #238 closed

[2022-04-10 06:22] saareliad opened #239 "min duration"
Hi, the rules show that min duration is 600 for all workloads (I was looking at datacenter) while it shall be 60 for most of them.
https://github.com/mlcommons/inference_policies/blob/master/inference_rules.adoc#3-scenarios

e.g,. looking at
[https://github.com/mlcommons/inference_results_v2.0/search?q=60000](https://eur05.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fmlcommons%

[2022-04-13 05:16] saareliad commented on #239
First thing which came in the aforementioned search link:

https://github.com/mlcommons/inference_results_v2.0/blob/8fcd68065d54033cc0aa8e83d931907aacfb8c02/closed/GIGABYTE/measurements/GIGABYTE-G492-ID0_A100-SXM-80GBx8_TRT/bert-99/Server/user.conf

And there are a lot more like this + official results website

[2022-04-19 21:31] DilipSequeira opened #240 "Audit policy changes"
Opening this for discussion of audit policy before we start crafting a PR.

My impression is that the proposal is to add to the rules the following:

* if an accelerator has been selected for audit in the previous round, it will not be chosen for random audit in this round
* a "No Audit" option will be added to the committee-selected audit, for cases where the committee does not see significant be

[2022-04-19 23:13] psyhtest commented on #240
Thank you for starting the thread @DilipSequeira.

Things to discuss regarding the first point:
- "Selected in the previous round" - should apply to both randomly selected and committee-selected?
- A new submission can be made by a submitter different from the one audited in the previous round. OK to exclude from random audit?
- A new submission can be made under a different category e.g. Edge in

[2022-04-20 15:46] DilipSequeira commented on #240
Probably the important point here is that a submission not get hit with a random audit if it was audited in the previous round. I think we can be somewhat loose here, because abuse of this privilege will result in being hit with a committee-selected audit.

So I would suggest:
* applies to both randomly selected and committee-selected
* is independent of category
* we use the "substantially determ

[2022-04-22 09:39] psyhtest commented on #240
- I agree that the CPU and NIC can "substantially determine" performance, but in many cases it is the accelerator that matters.
- I don't think that the submitter's name particularly matters, all else being (nearly) equal.
- Software versions change for sure. I was thinking about, say, "native" SDKs and Triton.
- No strong arguments for longer than one round.

[2022-04-27 15:54] psyhtest commented on #240
Should we put the burden onto submitters to propose to the review committee which systems are to be considered equivalent to the ones audited in the previous round and therefore to be excluded from randomly chosen audit?

[2022-04-27 16:00] DilipSequeira commented on #240
That's the intent of the current PR  - the equivalence criteria are quite strict, and if submitters whose systems don't meet those criteria want to have their systems be considered equivalent to those in the previous round they'll need to make that argument to the review committee - e.g. "we changed the accelerator count from 5 to 6 and got 17% perf boost, so we think this should be considered equ

[2022-05-12 19:12] nv-ananjappa opened #244 "Add submission UI documentation from 2.0 submission"
Neither the `/inference` or the `/inference_policies` repo holds the submission UI usage documentation that Pablo had created and added into the private 2.0 submission repo. Could we pull that markdown into one of these repos so it is publicly visible for sharing and review well before the submission deadline? Or if you folks feel that it is general enough to cover both Training and Inference, the

[2022-05-16 11:45] psyhtest opened #245 "Dataset constraints for the Open division"
For the upcoming v2.1 round, the old Object Detection benchmarks, based on the SSD-ResNet34 and SSD-MobileNet-v1 models and the COCO 2017 validation dataset, have been deprecated. The new Object Detection benchmark, based on the RetinaNet model and [a subset](https://github.com/mlcommons/training/tree/master/single_stage_detector#the-mlperf-subset) of the [Open Images v6](https://storage.googleapi

[2022-05-17 14:59] psyhtest commented on #245
The discussion is not restricted to Object Detection. In fact, we will be in the same situation with Image Classification if we switch the dataset to Open Images. The crux of the problem is that ImageNet and COCO are the most popular research datasets, with hundreds if not thousands of pretrained models available. In the case of a new dataset, such as the MLPerf subset  of Open Images, there initi

[2022-05-17 15:10] psyhtest commented on #245
To provide a more useful comparison in the spirit of MLPerf, we can consider some of the following options:
1. Request that any models that submitters use in the Open division are trained or finetuned on the same dataset as used by the Closed division model.
1. Request that the Closed division model is additionally trained or finetuned on the dataset that submitters use in the Open division, and i

[2022-07-12 23:08] rnaidu02 commented on #245
@petermattson @johntran-nv  Any feedback on the comment from David on allowing new datasets for Open submission?

[2022-07-13 13:50] petermattson commented on #245
They're allowed in Open in Training. Personally, I believe dataset
construction is an important area of innovation and would allow them but
try and improve how they're disclosed on the Open results sheet. However,
this is a WG decision. :-)

On Tue, Jul 12, 2022 at 4:08 PM rameshchukka ***@***.***>
wrote:

[2022-07-20 04:53] rnaidu02 opened #249 "Need to clean up Inference rules.adoc with recent changes for Object detector"
Need to update all references to SSD-ResNet34 and SSD-MobileNet with SSD-ResNeXt50 in this rules doc https://github.com/mlcommons/inference_policies/blob/master/inference_rules.adoc

[2022-07-26 04:35] rnaidu02 commented on #249
Addressed in https://github.com/mlcommons/inference_policies/pull/250

[2022-07-26 04:35] #249 closed

[2022-07-26 15:42] nv-ananjappa commented on #249
@rnaidu02 Didn't we agree that the name of the new network should be "RetinaNet"? Can we fix that?

[2022-10-11 23:54] rnaidu02 commented on #220
https://github.com/mlcommons/inference_policies/pull/258 addresses the audit guidelines

[2022-10-11 23:54] #220 closed